html,
body {
  font-size: 15px;
  min-height: 100%;
  height: 100%;
  background-color: #fff;
}

body {
	font-family: 'montserrat-light', Helvetica, sans-serif;
	font-weight: normal;
    font-style: normal;	 
    text-rendering: optimizeLegibility;
    color: #555555;
    min-width: 320px;
}

/*
* Custom Reset
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'montserrat-bold', Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 15px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 15px;
}




/*
* Custom Styles: LISTS
*/
.list {
	list-style-type: none;
	padding-left: 0;
	content: '';
	display: block;
	clear:both;
}

.list > .item {
	display: list-item;
	table-layout: fixed;
	list-style-type: none;
	list-style-position: outside;
	line-height: 1.2;
	margin-bottom:15px;	
}

.list > .item > .icon {
	display: table-cell;
}

.list > .item > .content {
	display: table-cell;
	vertical-align: middle;	
	padding-left: 5px;
}

.list > .item > .content > .header {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	font-weight: normal !important;
}

.list > .item > .content > .description {
	padding-top: 5px;
}

.list > .item > .icon, .list > .item > .icon {
	display: table-cell;
	margin: 0em;
	padding-top: 0.1rem;
	padding-right: 0.3em;
	vertical-align: top;
}

.list > .item > label {
	display: table-cell;
	vertical-align: middle;	
	padding-left: 5px;
}
.list > .item > .value {
	display: table-cell;
	vertical-align: middle;	
	padding-left: 5px;
}
/*
* Custom Styles: Highlights
*/
.highlight-gray {
	color: #555;
}
.highlight-primary {
	color: #00acac;
}
/*
* Custom Styles: SEGMENTS
*/
.segment {
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
}

.segment.bordered {
	border: 1px solid #e6e6e6;
}

.segment.bordered.radius {
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.segment.shadow {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}

.segment.shadow.radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.segment:after {
	content: '';
	display: block;
	clear:both;	
}
.segment.basic {
	background-color: #fff;
}
.segment.gray.inverted {
	background-color: #f7f7f7;
}

.segment.empty {
	border: 3px dashed #e6e6e6;
	color: #e6e6e6;
}

/*.segment .message-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}*/

.segment .message {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.segment .cover-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	background-color: #fff;
	opacity: 0.9;
}
/*
* Custom Styles: Headers
*/

.block-header {
	padding: 10px 15px;
	margin: 0;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

.block-header:after {
	content: '';
	display: block;
	clear:both;		
}

.block-header h1,
.block-header h2,
.block-header h3,
.block-header h4,
.block-header h5,
.block-header h6 {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

.block-header.inverted {
	background-color: #00acac;
}

/*
* CUSTORM : Forms;
*/
.ui.checkbox .box:after, 
.ui.checkbox label:after {
	color: #00acac;
}

.ui.checkbox .box:before, 
.ui.checkbox label:before {
	background: #eeeeee;
	border: 0;
}

.ui.checkbox .box:hover::before, 
.ui.checkbox label:hover::before {
	background: #eeeeee;
	border: 0;
}


.ui.checkbox.radio .box:before, 
.ui.checkbox.radio label:before {
	background: #fff;
	border: 1px solid #555;
}

.ui.checkbox.radio .box:hover::before, 
.ui.checkbox.radio label:hover::before {
	background: #00acac;
	border: 1px solid #00acac;
}

.ui.checkbox.radio.checked .box::before, 
.ui.checkbox.radio.checked label::before {
	background: #00acac;
	border: 1px solid #00acac;
}

.radio.right label, .checkbox.right label {
	min-height: 20px;
	padding-right: 20px;
	padding-left: 0;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.ui.checkbox.right .box:before, .ui.checkbox.right label:before {
	right: 0em;
	left: auto;
}

/*
* CV Summary: PUBLIC AND PRIVATE;
*/
.cv-summary .block-header .action {
	float: right;
	cursor: pointer;
}

.cv-summary .block-header h4 {
	float: left;
}

.cv-summary .basic-information .photo {
	float: right;
	width: 70px;
	height: 70px;
}

.cv-summary .basic-information .name {
	font-size: 26px;
	padding: 0;
	margin: 0;
}

.cv-summary .basic-information .rank {
	color: #707478;
}

.cv-summary .primary-documents .list {
	margin-bottom: 0;
}

.cv-summary .primary-documents .list > .item {
	width: 33%;
	display: inline-block;
}

.cv-summary .job-histories .header h5 {
	font-size: 15px;
	margin: 0;
}

.cv-summary .job-histories .list-unstyled li{
	margin-bottom: 10px;
	font-size: 12px;
}

.cv-summary .job-histories .segment{
	margin-bottom: 0;
}

.cv-summary .job-histories .salary{
	float: right;
	min-width: 175px;
	font-size: 12px;
	color: #fff;
	text-align: right;
	padding: 10px 15px;
	background-color: #00acac;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
}


/*
* Forms
*/

.ng-submitted .ng-invalid.form-control,
.ng-submitted .ui-select-bootstrap.dropdown.ng-invalid button {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.list-builder .add {
	text-align: right;
	padding-top: 26px;
}

.list-builder .item {
	position: relative;
	background-color: #ccc;
	min-width: 300px;
	padding: 10px 50px 10px 10px;
	margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;	
}

.list-builder .item .remove {
	position: absolute;
	font-size: 18px;
	color: #fff;
	top:50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}


/*
* Buttons
*/

.btn-main {
	background-color: #00acac;
	color: #fff;
}

.btn-cancel {
	background-color: #d75452;
	color: #fff;
}

.btn-delete {
	background-color: #d75452;
	color: #fff;
}

/*
* Modal
*/

.modal-open .modal {

	background: rgba(0,0,0,.85);
}

/*
* MISC
*/
.time {
    color: #999;
	font-family: 'montserrat-light', Helvetica, sans-serif;
}

.devider-dot {
    margin-right: 5px;
    color: #999;
	font-family: 'montserrat-light', Helvetica, sans-serif;
}

.author {
	font-family: 'montserrat-bold', Helvetica, sans-serif;
    font-size: 15px;
}

.author a {
    text-decoration: none;
    text-transform: none;
    color: #00acac;
}
.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}