/*
* Private Layout: header;
*/
#private {
	min-height: 100%;
	height: 100%;
	background-color: #edf1f2;
}
#private header#main {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 10px 15px;
	z-index: 100;
}

#private header#main:after {
	content: '';
	display: block;
	clear: both;
}

#private header#main h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

#private header#main #logo {
	width: 35px;
	height: auto;
}

#private header#main nav{
	position: absolute;
	font-size: 18px;
	top:50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#private header#main nav > .item {
	float:left;
	margin-left: 15px;
}

#private header#main nav > .item > a{
	color: #555;
}

#private header#main nav > .item > a:hover{
	color: #00acac;
}


/*
* Private Layout: nav#shortcuts
*/
#private nav#shortcuts {
	position: fixed;
	z-index: 99;
	width: 300px;
	height: 100%;
	overflow: auto;
	color: #fff;
	background-color: #212121;
	padding: 74px 15px 15px 15px;
}


#private nav#shortcuts h4{
	font-family: 'montserrat-thin', Helvetica, sans-serif;
	font-weight: normal !important;

}

#private nav#shortcuts .loggedUser {
	margin-bottom: 15px;
}

#private nav#shortcuts .loggedUser h3 {
	font-family: 'montserrat-thin', Helvetica, sans-serif;
	font-weight: normal !important;		
	margin: 0;
}

#private nav#shortcuts .list > .item > .content > a {
	text-decoration: none;
	display: block;
	color: #fff;
	text-rendering: optimizeLegibility;
}

#private nav#shortcuts .list > .item > .content > a:hover {
	color: #00acac;
}

/*#private nav#shortcuts .list > .item > .content > a > .fa-arrow-circle-right {
	display: none;
}

#private nav#shortcuts .list > .item > .content > a:hover > .fa-arrow-circle-right {
	display: inline-block;
}*/

#private nav#shortcuts .list > .item > .content > a > .badge {
	float: right;
	font-family: 'montserrat-light', Helvetica, sans-serif;
}

#private nav#shortcuts .list > .item > .content > .header {
	margin-right: 8px;
}

#private nav#shortcuts .list > .item > .content > .description {
	color: #555;
}
/*
* Private Layout: #sections-shortcut
*/
#private main#content #sections-shortcut header.section-shortcut-header h6 {
    margin-bottom: 10px;
}

#private main#content #sections-shortcut {
    font-family: 'montserrat-light', Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 15px;
    position: fixed;
    left: 1215px;
}

#private main#content #sections-shortcut:after {
    content: "";
    display: block;
    clear: both;
}

#private main#content #sections-shortcut #section-list {
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    overflow: hidden;
}

#private main#content #sections-shortcut #section-list .sec-post-link {
    border-bottom: 1px solid #edf1f2;
}

#private main#content #sections-shortcut #section-list .sec-post-link:hover {
    background-color: #00acac;
}

#private main#content #sections-shortcut #section-list .sec-post-link a {
    display: block;
    color: #555;
    text-decoration: none;
    text-transform: none;
    padding: 10px 15px;
}

#private main#content #sections-shortcut #section-list .sec-post-link a:hover {
    color: #fff;
}

#private main#content #sections-shortcut #section-list .sec-post-link:nth-child(4) {
    border: none;
}

/*
* Private Layout: main
*/
#private main#content {
	min-height: 100%;
	height: 100%;
	padding: 74px 15px 0 315px;
	overflow: auto;
}

#private main#content article.page-content {
	height: auto;
}

#private main#content article.page-content {
	width: 900px;
}

#private main#content header#page-head {
	width: 900px;
	background-color: #212121;
}

#private main#content header#page-head h4 {
	display: inline-block;
	background-color: #fff;
	background-image: url('../../content/images/header-radius.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding: 7px 41px 7px 15px;
	margin-bottom: 0;
}

#private main#content header#page-head:after {
	content: '';
	display: block;
	clear: both;
}

#private main#content header#page-head .breadcrumb {
	float: right;
	font-family: 'montserrat-light', Helvetica, sans-serif;
	font-size: 12px;
	padding: 7px 15px 0 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;	
}

#private main#content header#page-head .breadcrumb .active {
	color: #00acac;
}

/*
* page
*/

#postAJob .training .segment {
	min-height: 150px;
}

#postAJob .training .segment #hoverEdit {
	display:none;
}

#postAJob .training .segment:hover #hoverEdit {
	display:block;
}

#postAJob .training-list {
	margin-bottom: 30px;
}

.cv-summary .basic-information .rank span {
	color: #00acac;
    text-decoration: none;
    text-transform: none;
}

.cv-summary .job-histories .segment,
.cv-summary .training-courses .segment {
	min-height: 150px;
}

.cv-summary .job-histories .history {
	position: relative;
	margin-bottom: 30px;
}

.cv-summary .job-histories .history:after {
	content: '';
	display: block;
	clear: both;
}

.cv-summary .job-histories.add .salary,
.cv-summary .job-histories.edit .salary {
	width: 300px !important;
	text-align: left !important;
}

.cv-summary .job-histories .history .cover-content {
	display: none;
}

.cv-summary .job-histories .history:hover .cover-content {
	display: block;
}