/*
* Header Styles
*/

#public {
	min-height: 100%;
	height: 100%;
	background-color: #fff;
}

#public header#main {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 23px 15px;
	border-bottom: 1px solid #e6e6e6;
	z-index: 100;	
}

#public header#main:after {
	content: '';
	display: block;
	clear: both;	
}

#public header#main #logo img{
	display: inline-block;
	width: 35px;
}

#public header#main #logo h1{
	display: inline-block;
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 0 0 0 10px;
}

#public header#main #searchOptions {
	font-size: 12px;
	height: 38px;
	display: table;
	margin: 0 auto;
}

#public header#main #currentUser {
	float: right;
}

#public header#main #currentUser .dropdown-toggle {
	color: #555;
	text-decoration: none;
}

#public #backToDefault {
	padding: 15px;
}


/*
* Main
*/
#public main#content {
	position: relative;
	height: 100%;
	padding: 118px 280px 0 280px;
	background-color: #fff;
}

#public main#content #searchjob-wrapper {
	height: 100%;
    overflow: auto;
}