#public #login {
	width: 300px;
	height: auto;
	margin: 10% auto;
}

#public #login #logo {
	text-align: center;
	margin-bottom: 30px;
}

#public #login #logo h1 {
	display: inline-block;
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	text-transform: uppercase;
	padding-left: 10px;
}

#public #login label {
	font-size: 10px;
	text-transform: uppercase;
}

#public #login label.remember {
	font-size: 12px;
	text-transform: none;
}

#public #login button {
	background-color: #00acac;
	color: #fff;
	border: 0;
	outline: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;	
}