<div id="backToDefault">
	<button class="btn btn-default"> <i class="fa fa-arrow-left"></i></button> Back
</div>	

<section id="login">

	<div id="logo">
		<img src="content/images/logo.gif">		
		<h1>Seafarer Jobsite</h1>		
	</div>


	<form role="form" class="segment bordered radius" novalidate name="form" ng-submit="vm.login(form)">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" placeholder="Enter email"
			name="email" 
			ng-model="vm.input.email"
			ng-required="true"
			ng-trim="true"
			ng-change="vm.onChangeEmail(form)">

			<div ng-if="form.$submitted" ng-messages="form.email.$error" class="text-danger">
				<small ng-message="required">You did not enter your email</small>
				<small ng-message="email">Invalid email format</small>
				<small ng-message="exist">Email does not exist</small>
				<small ng-message="active">This account is currently deactivated</small>
			</div>				
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" placeholder="Password"
			name="password" 
			ng-model="vm.input.password"
			ng-required="true"
			ng-trim="true"
			ng-change="vm.onChangePass(form)">	

			<div ng-if="form.$submitted" ng-messages="form.password.$error" class="text-danger">
				<small ng-message="required">You did not enter your password</small>
				<small ng-message="password">Password is incorrect</small>
			</div>				
		</div>
		<button type="submit" class="btn btn-default btn-lg btn-block">LOGIN</button>
		<div class="checkbox">
			<label class="remember">
				<input type="checkbox"> Stay Logged In
			</label>
		</div>	  

	</form>	

	<div class="text-center">
		<a href="#" ui-sref="login">Create an account</a>		
	</div>
	
</section>


