<h1>Seafarer Jobsite</h1>
<img id="logo" src="content/images/logo.gif">
<nav>
	<div class="item">
		<a ng-href="{{vm.homeUrl}}"><i class="fa fa-home"></i></a>
	</div>
	<div class="item">
		<a href="#"><i class="fa fa-warning"></i></a>
	</div>
	<div class="item">
		<a href="#"><i class="fa fa-bookmark"></i></a>
	</div>
	<div class="item">
		<a href="#"><i class="fa fa-gear"></i></a>
	</div>
	<div class="item">
		<a href ng-click="vm.logout()"><i class="fa fa-power-off"></i></a>

	</div>																
</nav>