<div class="container-fluid" id="singlepost">
	<article class="segment shadow radius featured">
		<header class="expanded featured-header">
			<div class="left-header pull-left">
                <img src="content/images/photo_placeholder.jpg" alt="">
                <div class="title">
                    <h3>{{vm.job.headline}} </h3> 
                    <div class="author">
                        By <a href="#" class="uppercase">{{vm.job.agencyName}}</a> <i class="{{vm.job.agency.country}} flag"></i> <i class="devider-dot">&bull;</i> <span class="time">1min ago</span>
                    </div>
                </div>
			</div>
			<div class="pull-right bookmark-wrapper">			    
			    <a href=""><span>ADD TO BOOKMARK</span> <i class="fa fa-bookmark"></i></a>
			</div>
		</header>
		<section class="basic-info">
		    <div class="pull-right print"><a href="#">Print <i class="fa fa-print"></i></a></div>
		    <ul class="list">
		        <li class="item">
		            <div class="property">Position:</div>
		            <div class="value ng-binding uppercase">{{vm.job.position}}</div>
		        </li>
		        <li class="item">
		            <div class="property">Vessel Type:</div>
		            <div class="value ng-binding uppercase">{{vm.job.vesselType}}</div>
		        </li>
		        <li class="item">
		            <div class="property">Proposed Salary:</div>
		            <div class="value ng-binding uppercase">
		                <i class="{{vm.job.proposedSalary.currency}} icon"></i>{{vm.job.proposedSalary.min}}
		                -
		                <i class="{{vm.job.proposedSalary.currency}} icon"></i>{{vm.job.proposedSalary.max}}
		            </div>
		        </li>
		    </ul>
		</section>
		<section class="misc">
		    <div class="row">
                <div class="employment-benefits col-sm-6">
                    <h6>Employment Benefits</h6>
                    <ul class="fa-ul">
                        <li ng-repeat="benefit in vm.job.employmentBenefits track by $index">
                            <i class="fa-li fa fa-check"></i>
                            {{benefit}}
                        </li>
                    </ul>
                </div>
                <div class="qualifications col-sm-6">
                    <h6>Qualifications</h6>
                    <ul class="fa-ul">
                        <li ng-repeat="benefit in vm.job.qualifications track by $index">
                            <i class="fa-li fa fa-check"></i>
                            {{benefit}}
                        </li>
                    </ul>
                </div>
		    </div>		    
		</section>
		<section class="job-description">
		    <h6>Job Description</h6>
		    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inven tore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consecte
tur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehen
derit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
		</section>
		<footer class="featured-footer">
		    <div class="share-refer pull-left">
		        <a class="share" href="#">Share</a><a class="refer" href="#">Refer to a friend</a>
		    </div>
		    <div class="send-application pull-right">
		        <button type="button" class="btn btn-main" ng-click="vm.sendApplication(vm.job)">Send Application</button>
		    </div>
		</footer>
	</article>
	
	<!--
	    SECTION: RELATED POSTS
	-->
	
	<section class="related-posts">
	    <header class="related-posts-header">
	        <h4 class="pull-left">Related Posts</h4>
	        <a href="" class="pull-right see-all">see all</a>
	    </header>
	    <div id="jobList" class="row">
	        <div class="col-sm-4">
                <article class="job">
                    <header class="bookmark">
                        <a href="#">Add to Bookmark <i class="fa fa-bookmark"></i> </a> 
                    </header>
                    <section class="basic-info">
                        <header>
                            <img src="content/images/photo_placeholder.jpg" alt="">
                            <div class="title">
                                <h5>{{job.headline}} </h5>
                                <div class="author">
                                    by <a href="#" class="uppercase">maersk</a> <i class="{{job.country}} flag"></i>
                                </div>
                            </div>
                        </header>

                        <ul class="list">
                            <li class="item">
                                <div class="property">Position:</div> <div class="value uppercase">{{job.position}}</div>		
                            </li>
                            <li class="item">
                                <div class="property">Vessel Type:</div> <div class="value uppercase">{{job.vesselType}}</div>
                            </li>
                            <li class="item">
                                <div class="property">Proposed Salary:</div> 
                                    <div class="value uppercase"> 
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.min}}
                                         -
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.max}}
                                    </div>
                            </li>
                        </ul>	



                    </section>
                    <section class="misc">
                        <h6>Employment Benefits</h6>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-check"></i> Test
                            </li>
                        </ul>
                    </section>
                    <footer class="readmore">
                        <a href="#">read more</a>
                    </footer>
                </article> <!-- <article class="job"> -->
	        </div>
	    </div>
	</section>
	
	<section class="recommended-posts">
	    <header class="recommended-posts-header">
	        <h4 class="pull-left">Related Posts</h4>
	        <a href="" class="pull-right see-all">see all</a>
	    </header>
	    <div id="jobList" class="row">
	        <div class="col-sm-4">
                <article class="job">
                    <header class="bookmark">
                        <a href="#">Add to Bookmark <i class="fa fa-bookmark"></i> </a> 
                    </header>
                    <section class="basic-info">
                        <header>
                            <img src="content/images/photo_placeholder.jpg" alt="">
                            <div class="title">
                                <h5>{{job.headline}} </h5>
                                <div class="author">
                                    by <a href="#" class="uppercase">maersk</a> <i class="{{job.country}} flag"></i>
                                </div>
                            </div>
                        </header>

                        <ul class="list">
                            <li class="item">
                                <div class="property">Position:</div> <div class="value uppercase">{{job.position}}</div>		
                            </li>
                            <li class="item">
                                <div class="property">Vessel Type:</div> <div class="value uppercase">{{job.vesselType}}</div>
                            </li>
                            <li class="item">
                                <div class="property">Proposed Salary:</div> 
                                    <div class="value uppercase"> 
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.min}}
                                         -
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.max}}
                                    </div>
                            </li>
                        </ul>	



                    </section>
                    <section class="misc">
                        <h6>Employment Benefits</h6>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-check"></i> Test
                            </li>
                        </ul>
                    </section>
                    <footer class="readmore">
                        <a href="#">read more</a>
                    </footer>
                </article> <!-- <article class="job"> -->
	        </div>
	    </div>
	</section>
</div>

