/*
* Header
*/
#public header#main #searchOptions .description {
	display: table-cell;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #999;
	padding-top: 3px;
	text-transform: uppercase;
	vertical-align: middle;
}

#public header#main #searchOptions .option {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	padding-left: 30px;
}

#public header#main #searchOptions .option > .ui.checkbox {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	font-size: 15px;
	margin: 0;	
}

#public header#main #currentUser {
	display: block;
	line-height: 38px;
	height: 38px;
}

#public header#main #btn-public-login {
    display: table;
    float: right;
    height: 38px;
    line-height: 38px;
}

#public header#main #btn-public-login:after {
    display: block;
    content: "";
    clear: both;
}

#public header#main #btn-public-login a {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}

#public header#main #btn-public-login a > i {
    margin-right: 5px;
}

#public header#main #currentUser .name {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #00acac;	
}
/*
* Siderbar Left
*/

#public #filter {
	position: fixed;
	z-index: 99;
	width: 280px;
	height: 100%;
	padding-top: 85px;
	top: 0;
	left: 0;	
	overflow: auto;
	color: #fff;
	background-color: #fff;
	border-right: 1px solid #e6e6e6;
}

#public #filter .link {
	position: relative;
	display: block;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #555;
	padding: 15px;
	border-width: 0 0 1px 0;
	border-color: #e6e6e6;
	border-style: solid;
	z-index: 100;
	text-decoration: none;
}

/*#public #filter .link:hover {
	
}*/

#public #filter .link .title {
	color: #999999;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#public #filter .link .selected {
	text-transform: uppercase;
}

#public #filter .link .fa.fa-caret-right {
	position: absolute;
	top:50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#public #filter .link.active {
	color: #fff;
	background-color: #00acac;
}

#public #filter .link.active:after {
	position: absolute;
	z-index: 150;
	content: '';
	top: 50%;
	right: -1px;
	border: none;
	background: #eef1f2;
	width: 1em;
	height: 1em;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg);		
}

#public #filter .link.active .title {
	color: #fff;
}

/*
* Sidebar right
*/

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bm-title {
	font-size: 15px;
    text-transform: uppercase;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bm-author {
	font-size: 12px;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bm-author span {
	color: #00acac;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link  a{
	display: block;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #555;
	text-decoration: none;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link {
	padding: 5px 10px;
	border-bottom: 1px solid #e6e6e6;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link:nth-child(4) {
	border: none;
}

#public #miscTools #bookmarks #bookmark-list{
	display: block;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #555;
	border: 1px solid #e6e6e6;
    border-radius: 5px;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bookmark-expand {
    display: none;
    position: absolute;
    width: 370px;
    height: auto;
    left: -400px;
    top: -30px;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList {
	background: #fff;
    height: auto;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList .job{
	margin: 0;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link.active .bookmark-expand {
    display: block;
    z-index: 300;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link {
    position: relative;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link.active .bookmark-expand:after {
	position: absolute;
	z-index: 150;
	content: '';
    top: 54px;
	right: -12.5px;
	border: none;
	background: #fff;
	width: 1em;
	height: 1em;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link.active:after {
	position: absolute;
	z-index: 150;
	content: '';
    top: 50%;
	left: -30px;
	border: none;
	background: #fff;
	width: 1em;
	height: 1em;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg);
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#public #miscTools #bookmarks #bookmark-list .bm-post-link .bookmark-expand .readmore a {
    color: #fff;
}

#public #miscTools {
	position: fixed;
	z-index: 99;
	width: 280px;
	height: 100%;
	top: 85px;
	right: 0;
	background-color: #fff;
	padding: 15px;
    overflow: auto;
	/*border-color: #e6e6e6;*/
}

#public #miscTools > .tool { 
	margin-bottom: 30px;
}

#public #miscTools > .tool > .empty { 
	position: relative;
	border: 1px dashed #e6e6e6;
	width: 100%;
	height: 216px;
	color: #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#public #miscTools > .tool > .empty > .message {
	position: absolute;
	top:50%;
	right: 15px;
	text-align: center;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#public #miscTools > .tool header h6 { 
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	text-transform: uppercase;
	float: left;
}

#public #miscTools > .tool .more { 
	font-size: 12px;
	float: right;
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}

#public #miscTools > .tool header:after { 
	content: '';
	display: block;
	clear: both;
}

/*
* SEARCH JOB filter selection
*/

#public .filter-selection {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #eef1f2;
	z-index: 80;
	opacity: 0.97;
	padding: 100px 295px 0 295px;
	
}

#public .filter-selection,
#public .filter-selection h3{
	font-family: 'montserrat-regular', Helvetica, sans-serif;
}

#public .filter-selection .search {
	display: table;
	margin-bottom: 15px;
}

#public .filter-selection .search .icon {
	display: table-cell;
	width: 1%;
	font-size: 26px;
}

#public .filter-selection .search input {
	display: table-cell;
	width: 100%;
	font-size: 26px;
	padding-left: 15px;
	outline: none;
	border: 0;
	background: none;
}

#public .filter-selection a {
	text-transform: uppercase;
	color: #555;
}

#public .filter-selection a.close {
	opacity: 1;
}

#public .filter-selection .all {
	margin-bottom: 15px;
}
#public .filter-selection li.active a,
#public .filter-selection .all.active a,
#public .filter-selection a:hover {
	color: #00acac;
}

#public .filter-selection .filter-content,
#public .filter-selection .filter-controller-scope {
	height: 100%;
	overflow: hidden;
}

#public .filter-selection .list-wrapper {
	height: calc(100% - 115px);
	overflow: scroll;
	/*border: 1px solid red;*/
}