<!DOCTYPE html>
<html lang="en" ng-app="applicant">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Account: Applicant</title>
	
    <!-- Bootstrap -->
    <link href="content/fonts/montserrat/stylesheet.css" rel="stylesheet">
    <link href="content/css/font-awesome.css" rel="stylesheet">
    <link href="content/css/bootstrap.css" rel="stylesheet">
    <link href="content/css/icon.css" rel="stylesheet">
    <link href="content/css/flag.css" rel="stylesheet">
    <link href="content/css/checkbox.css" rel="stylesheet">

	<!-- component css -->
	<link href="components/ui-select/select.min.css" rel="stylesheet">    
	<link href="components/pickadate/themes/default.css" rel="stylesheet">   
	<link href="components/pickadate/themes/default.date.css" rel="stylesheet">   
	<link href="components/pickadate/themes/default.time.css" rel="stylesheet"> 
	<link href="components/angular-ui-notification/angular-ui-notification.min.css" rel="stylesheet">   
  
    <link href="app/layout/main.css" rel="stylesheet">
	<link href="app/layout/private.css" rel="stylesheet">

	<script>
        <% if(bootstrappedUser){ %>
            var bootstrappedUser = <%- JSON.stringify(bootstrappedUser) %>;
            console.log("session:",bootstrappedUser);
        <% } %> 
        <% if(bootstrappedInstance){ %>
            var bootstrappedInstance = <%- JSON.stringify(bootstrappedInstance) %>;
            console.log("instance:",bootstrappedInstance);
        <% } %> 
        <% if(baseUrl){ %>
            var BASE_URL = <%- JSON.stringify(baseUrl) %>;
            console.log("baseUrl:",BASE_URL);
        <% } %>         
	</script>
</head>
<body>

	<div id="private">
		<header id="main" ui-view="header">

		</header><!-- <header id="main"> -->
		

		<nav id="shortcuts" ui-view="shortcuts">

		</nav> <!-- <nav class="shortcuts"> -->

		<main id="content" ui-view="main">


		</main> <!-- <main id="content"> -->
	</div>	


	<!-- jquery components -->
	<script src="components/jquery-2.1.1.min.js"></script>
	<script src="components/moment.min.js"></script>
	<script src="components/underscore-min.js"></script>
	<script src="components/pickadate/picker.js"></script>
	<script src="components/pickadate/picker.date.js"></script>
	<script src="components/pickadate/picker.time.js"></script>

	<!-- angular components -->
	<script src="components/angular/angular.js"></script>
	<script src="components/angular/angular-resource.js"></script>
	<script src="components/angular/angular-sanitize.js"></script>
	<script src="components/angular/angular-messages.js"></script>
	<script src="components/angular/angular-cookies.js"></script>
	<script src="components/angular-ui-router.min.js"></script>
	<script src="components/truncate.js"></script>
	<script src="components/ui-select/select.min.js"></script>
	<script src="components/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="components/angular-ui-notification/angular-ui-notification.min.js"></script>
	
	<!-- core -->
	<script src="app/core/core.module.js"></script>
	<script src="app/core/core.config.js"></script>
	<script src="app/core/core.resource.js"></script>
	<script src="app/core/core.security.js"></script>
	<script src="app/core/core.helper.js"></script>
	<script src="app/core/userservice.js"></script>
	<script src="app/core/pickadate.js"></script>
	<script src="app/core/smoothscroll.js"></script>
	<script src="app/core/bookmark.js"></script>
	
	<!-- features -->
	<script src="app/applicant-private/applicant.module.js"></script>
	<script src="app/applicant-private/applicant.route.js"></script>
	<script src="app/applicant-private/applicant.config.js"></script>
	<script src="app/applicant-private/applicant.js"></script>

	<script src="app/applicant-private/manage-cv/managecv.js"></script>
	<script src="app/applicant-private/manage-cv/cvresource.js"></script>
	<script src="app/applicant-private/manage-cv/basicinfo.js"></script>
	<script src="app/applicant-private/manage-cv/primarydoc.js"></script>
	<script src="app/applicant-private/manage-cv/training.js"></script>
	<script src="app/applicant-private/manage-cv/history.js"></script>

</body>
</html>