<!DOCTYPE html>
<html lang="en" ng-app="public">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Document</title>

	<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'> -->
    <!-- Bootstrap -->
    <link href="content/fonts/montserrat/stylesheet.css" rel="stylesheet">          
    <link href="content/css/font-awesome.css" rel="stylesheet">
    <link href="content/css/bootstrap.css" rel="stylesheet">
    <link href="content/css/icon.css" rel="stylesheet">
    <link href="content/css/flag.css" rel="stylesheet">
    <link href="content/css/checkbox.css" rel="stylesheet">

	<!-- component css -->
	<link href="components/ui-select/select.min.css" rel="stylesheet">
	<link href="components/pickadate/themes/default.css" rel="stylesheet">
	<link href="components/pickadate/themes/default.date.css" rel="stylesheet">
	<link href="components/pickadate/themes/default.time.css" rel="stylesheet">
	<link href="components/angular-ui-notification/angular-ui-notification.min.css" rel="stylesheet">

    <link href="app/layout/main.css" rel="stylesheet">
	<link href="app/layout/public.css" rel="stylesheet">
	<link href="app/public/login/login.css" rel="stylesheet">
	<link href="app/public/signup/signup.css" rel="stylesheet">
	<link href="app/public/searchmain/searchmain.css" rel="stylesheet">
	<link href="app/public/searchjob/searchjob.css" rel="stylesheet">
	<link href="app/public/singlepost/singlepost.css" rel="stylesheet">

	<script>
        <% if(bootstrappedUser){ %>
            var bootstrappedUser = <%- JSON.stringify(bootstrappedUser) %>;
            console.log("session:",bootstrappedUser);
        <% } %>
        <% if(bootstrappedInstance){ %>
            var bootstrappedInstance = <%- JSON.stringify(bootstrappedInstance) %>;
            console.log("instance:",bootstrappedInstance);
        <% } %>
        <% if(baseUrl){ %>
            var BASE_URL = <%- JSON.stringify(baseUrl) %>;
            console.log("baseUrl:",BASE_URL);
        <% } %>
	</script>

</head>
<body>

	<div id="public" ui-view>




	</div>

	<!-- jquery components -->
	<script src="components/jquery-2.1.1.min.js"></script>
	<script src="components/moment.min.js"></script>
	<script src="components/underscore-min.js"></script>
	<script src="components/pickadate/picker.js"></script>
	<script src="components/pickadate/picker.date.js"></script>
	<script src="components/pickadate/picker.time.js"></script>

	<!-- angular components -->
	<script src="components/angular/angular.js"></script>
	<script src="components/angular/angular-resource.js"></script>
	<script src="components/angular/angular-sanitize.js"></script>
	<script src="components/angular/angular-messages.js"></script>
	<script src="components/angular/angular-cookies.js"></script>
	<script src="components/angular-ui-router.min.js"></script>
	<script src="components/truncate.js"></script>
	<script src="components/ui-select/select.min.js"></script>
	<script src="components/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="components/angular-ui-notification/angular-ui-notification.min.js"></script>
	
	<!-- core -->
	<script src="app/core/core.module.js"></script>
	<script src="app/core/core.config.js"></script>
	<script src="app/core/core.resource.js"></script>
	<script src="app/core/core.security.js"></script>
	<script src="app/core/core.helper.js"></script>
	<script src="app/core/userservice.js"></script>
	<script src="app/core/pickadate.js"></script>
	<script src="app/core/smoothscroll.js"></script>
	<script src="app/core/bookmark.js"></script>

	<!-- app -->
	<script src="app/public/public.js"></script>
	<script src="app/public/public.config.js"></script>
	<script src="app/public/public.route.js"></script>

	<!-- features -->
	<script src="app/public/login/login.js"></script>
	<script src="app/public/signup/signup.module.js"></script>
	<script src="app/public/signup/signup.js"></script>

	<!-- search -->
	<script src="app/public/searchmain/searchmain.module.js"></script>
	<script src="app/public/searchmain/searchmain.js"></script>

	<script src="app/public/searchjob/searchjob.module.js"></script>
	<script src="app/public/searchjob/searchjob.filter.js"></script>
	<script src="app/public/searchjob/searchjob.results.js"></script>

	<script src="app/public/searchjob/searchjob.filter.position.js"></script>
	<script src="app/public/searchjob/searchjob.filter.vessel.js"></script>
	<script src="app/public/searchjob/searchjob.filter.country.js"></script>
	<script src="app/public/searchjob/searchjob.filter.sort.js"></script>
	<script src="app/public/searchjob/searchjob.keywords.js"></script>

	<script src="app/layout/public/bookmarklist.js"></script>

	<!-- single post -->
	<script src="app/public/singlepost/singlepost.js"></script>

</body>
</html>