<header id="page-head">
	<h4>POST A JOB</h4>
	<ol class="breadcrumb">
	  <li>Home</li>
	  <li>Account</li>
	  <li class="active">Post A Job</li>
	</ol>	
</header>
<article class="segment basic page-content" id="postAJob">
	
	<div ng-switch="vm.viewSwitcher">
		<div ng-switch-when="main">

			<form class="row" name="basicInfoForm" novalidate>
			  <div class="form-group col-sm-6">
			    <label>Headline</label>
			    <input type="text" class="form-control" placeholder="Headline"
				name="headline"
				ng-model="vm.input.headline"
				ng-required="true"
				ng-trim="true">

				  <div ng-if="basicInfoForm.$submitted" ng-messages="basicInfoForm.headline.$error" class="text-danger">
				    <small ng-message="required">Please enter a headline</small>
					<small ng-message="maxlength">Name length exceeded</small>
				  </div>

			  </div> <!--  <div class="form-group col-sm-6"> -->
			  <div class="form-group col-sm-6">
			    <label>Position</label>
				<div ui-select theme="bootstrap" 
				name="rank"
				ng-model="vm.input.rank"
				ng-required="true">

				    <div ui-select-match placeholder="Select or Search position">{{$select.selected.name}}</div>
				    <div ui-select-choices group-by="'category'" repeat="value.name as value in vm.ranks | filter: $select.search">
						<div ng-bind-html="value.name | highlight: $select.search"></div>
					</div>
				</div>

				  <div ng-if="basicInfoForm.$submitted" ng-messages="basicInfoForm.rank.$error" class="text-danger">
				    <small ng-message="required">Please select a position</small>
				 </div>				
			  </div> <!--  <div class="form-group col-sm-6"> -->
			  <div class="form-group col-sm-6">
			    <label>Vessel Type</label>
				<div ui-select theme="bootstrap" 
				name="vesselType"
				ng-model="vm.input.vesselType"
				ng-required="true">

				    <div ui-select-match placeholder="Select or Search a vessel type..">{{$select.selected}}</div>
				    <div ui-select-choices repeat="value in vm.vesselTypes | filter: $select.search">
						<div ng-bind-html="value | highlight: $select.search"></div>
					</div>
				</div>

				  <div ng-if="basicInfoForm.$submitted" ng-messages="basicInfoForm.vesselType.$error" class="text-danger">
				    <small ng-message="required">Please select a vessel type</small>
				 </div>				
			  </div> <!--  <div class="form-group col-sm-6"> -->
			  <div class="form-group col-sm-6">
			    <label>Proposed Salary</label>
				<div ui-select theme="bootstrap" 
				name="salary"
				ng-model="vm.input.proposedSalary">

				    <div ui-select-match placeholder="Select or Search your proposed salary.."><i class="usd icon"></i>{{$select.selected.min}} - <i class="usd icon"></i>{{$select.selected.max}}</div>
				    <div ui-select-choices repeat="value in vm.salaryRange | filter: $select.search">
						<i class="usd icon"></i>{{value.min}} - <i class="usd icon"></i>{{value.max}}
				    </div>
				</div>	
			  </div> <!--  <div class="form-group col-sm-6"> -->	

			  <div class="form-group col-sm-12">
				<div class="ui checkbox" ng-click="vm.input.urgent = !vm.input.urgent">
				  <input type="checkbox" ng-model="vm.input.urgent">
				  <label>Set this post as urgent</label>
				</div>				  	
			  </div>	
			</form>

			<div class="segment gray inverted list-builder">
				<form class="row" name="benefitsForm" ng-submit="vm.addToList(vm.input.benefits, vm.benefit, benefitsForm.benefit)" novalidate>
					<div class="col-sm-8">
					    <label>Employment Benefits:</label>
					    <input type="text" class="form-control" placeholder="Add an employment benefit"
					    name="benefit" 
					    ng-model="vm.benefit"
					    ng-required="true"
					    ng-trim="true">		

					  	<div ng-if="benefitsForm.$submitted" ng-messages="benefitsForm.benefit.$error" class="text-danger">
					    	<small ng-message="required">Please enter a value</small>
					    	<small ng-message="count">Only 20 benefits allowed</small>
					 	</div>					    
					    <div class="item" ng-repeat="benefit in vm.input.benefits track by $index">
					     	{{benefit}} <a href class="remove" ng-click="vm.removeFromList(vm.input.benefits, $index, benefitsForm.benefit)"> <i class="fa fa-close"></i> </a>
					    </div>	
					</div>
					<div class="col-sm-4 add">
						<button type="submit" class="btn btn-main"> <i class="fa fa-plus icon"></i> Add</button>
					</div>
				</form>
			</div>
			<div class="segment gray inverted list-builder">
				<form class="row" name="qualificationForm" ng-submit="vm.addToList(vm.input.qualifications, vm.qualification, qualificationForm.qualification)" novalidate>
					<div class="col-sm-8">
					    <label>Qualifications:</label>
					    <input type="text" class="form-control" placeholder="Add a qualification"
					    name="qualification" 
					    ng-model="vm.qualification"
					    ng-required="true"
					    ng-trim="true">	

					  	<div ng-if="qualificationForm.$submitted" ng-messages="qualificationForm.qualification.$error" class="text-danger">
					    	<small ng-message="required">Please enter a value</small>
					    	<small ng-message="count">Only 20 qualifications allowed</small>
					 	</div>	

					    <div class="item" ng-repeat="qualification in vm.input.qualifications">
					    	{{qualification}} <a href class="remove" ng-click="vm.removeFromList(vm.input.qualifications, $index, qualificationForm.qualification)"> <i class="fa fa-close"></i> </a>
					    </div>					    		
					</div>
					<div class="col-sm-4 add">
						<button type="submit" class="btn btn-main"> <i class="fa fa-plus icon"></i> Add</button>
					</div>
				</form>
			</div>
			
			<div class="training">
				<label>Required Training Certificates:</label>
				<!-- show list -->
				
				<div class="segment" ng-class="{empty: vm.input.trainings.length <= 0}">

					<div class="row" ng-show="vm.input.trainings.length > 0">
						<div class="col-sm-6" ng-repeat="c in vm.input.trainings">
							<div class="ui checkbox read only" ng-class="{checked: c.$checked}">
							  <input type="checkbox" ng-model="c.$checked">
							  <label>{{c.name}}</label>
							</div>	
						</div>
					</div>


					<div class="cover-content" id="hoverEdit" ng-show="vm.input.trainings.length > 0">
						<div class="message">
							Edit Training Certificates <br>
							<button type="button" class="btn btn-main" ng-click="vm.showTrainingSelection()"> <i class="fa fa-edit icon"></i> Edit</button>
						</div>
					</div>	

					<div class="cover-content" ng-hide="vm.input.trainings.length > 0">
						<div class="message">
							Add Training Certificates <br>
							<button type="button" class="btn btn-main" ng-click="vm.showTrainingSelection()"> <i class="fa fa-plus icon"></i> Add</button>
						</div>
					</div>					
				</div>

			</div> <!-- <div class="training"> -->

			<div class="text-right">
			  <button type="button" class="btn btn-main" ng-click="vm.post(basicInfoForm)">POST</button>
			  <button type="button" class="btn btn-cancel" ui-sref="agency.manageposts">CANCEL</button>			
			</div>			
		</div> <!-- end of main switch -->
		<div ng-switch-when="training">
			 
			<div class="row training-list">
				<div class="col-sm-6" ng-repeat="c in vm.trainingCertificates">
					<div class="ui checkbox" ng-class="{checked: c.$checked}" ng-click="c.$checked = !c.$checked">
					  <input type="checkbox" ng-model="c.$checked">
					  <label>{{c.name}}</label>
					</div>	
				</div>
			</div>

			<div class="text-right">
				<button type="button" class="btn btn-main" ng-click="vm.applyTrainingList()">Apply</button>
				<button type="button" class="btn btn-cancel" ng-click="vm.viewSwitcher = 'main'">CANCEL</button>			
			</div>	

		</div> <!-- end of training switch -->
	</div><!-- end of switcher -->

	<!-- <pre>{{vm.input.certificates | json}}</pre> -->
	
</article>	<!-- <article class="segment basic page-content"> -->	
