<div class="modal-header">
  <button type="button" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Post Job Advertisement</h4>
</div>
<div class="modal-body">
  <p>Are you sure you this job post is all set and ready for posting?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.ok()">Confirm</button>
  <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
</div>