/*
* HEADER
*/

#landing-page header #logo h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#landing-page header {
    padding-top: 15px;
    margin-bottom: 15px;
}

#landing-page header #user-status #sign-btns {
    padding-top: 10px;
}

/*
* NAVIGATION
*/

#landing-page #nav-toolbar {
    width: 100%;
    background: #212121;
    height: 43px;
    line-height: 43px;
}

#landing-page #nav-toolbar > ul {
    list-style-type: none;
    text-align: center;
}

#landing-page #nav-toolbar > ul > li {
    display: inline-block;
    margin-right: 30px;
}

#landing-page #nav-toolbar > ul > li:last-child {
    margin-right: 0;
}

#landing-page #nav-toolbar > ul > li > a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
}

#landing-page #nav-toolbar > ul > li.active > a {
    border-top: 2px solid #00acac;
}

/*
*   SEARCH TOOLBAR
*/
#landing-page .banner {
    position: relative;
}

#landing-page .banner #search-toolbar {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.8);
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper {
    padding: 30px;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats {
    margin-bottom: 30px;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div {
    text-align: center;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div i.fa {
    font-size: 45px;
    margin-right: 5px;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div > div {
    text-align: left;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div > div span.output:after {
    content: "";
    display: block;
    clear: both;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div > div span.output {
    font-family: 'montserrat-regular', Helvetica, sans-serif;
    color: #00acac;
    font-size: 18px;
}

#landing-page .banner #search-toolbar #search-toolbar-wrapper #stats > div > div span.output,
#landing-page .banner #search-toolbar #search-toolbar-wrapper #search-inputs {
    opacity: 1;
}

/*
* LATEST JOB POSTS
*/
#landing-page main#content #latestjob-wrapper {
    background: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid .view-all-jobs {
    text-align: center;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid .view-all-jobs button.btn {
    width: 250px;
    margin-top: 30px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid h3 {
    border-bottom: 1px solid #00acac;
    padding-bottom: 10px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    background: #fff;
	margin: 15px 0 15px 0;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);	
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info .addTobookmark-btn a {
    background-image: url(../images/bookmark-inactive.png);
    display: block;
    width: 20px;
    height: 34px;
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    right: 30px;
    top: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info .addTobookmark-btn.active a {
    background-image: url(../images/bookmark-active.png);
    display: block;
    width: 20px;
    height: 34px;
    background-repeat: none;
    float: right;
    position: absolute;
    right: 30px;
    top: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job > .basic-info {
	padding: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job > .readmore {
	background-color: #00acac;
	text-align: center;
	padding: 10px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job > .readmore a {
	display: block;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
    text-decoration: none;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info header {
	display: table;
	margin-bottom: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info header img {
	display: table-cell;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info header .title {
	display: inline-block;
	vertical-align: top;
	display: table-cell;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info header .title h5 { 
	font-family: 'montserrat-bold', Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
/*	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;	*/
	margin: 0;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info .property, 
#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info .value {
	display: inline-block;
	text-transform: uppercase;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div div.container-fluid #jobList .job .basic-info .property {
	font-size: 12px;
	color: #999;
}

/*
* LATEST NEWS
*/
#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news h3 {
    border-bottom: 1px solid #00acac;
    padding-bottom: 10px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item {
    margin-bottom: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item:last-child {
    margin-bottom: 30px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header .date-time {
    font-size: 12px;
    margin-bottom: 10px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header .date-time .date {
    color: #00acac;
    padding-right: 15px;
    border-right: 1px solid #555;
    margin-right: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header h1.title{
	font-family: 'montserrat-bold', Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header .author {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    font-size: 12px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header {
    margin-bottom: 10px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item header .author span {
    color: #00acac;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item .body p {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news .news-item .body a {
    text-decoration: none;
    color: #00acac;
    float: right;
    margin-top: 15px;
}

#landing-page main#content #latestjob-wrapper div.container-fluid div.row > div #latest-news a.view-all-btn {
	font-family: 'montserrat-bold', Helvetica, sans-serif;
    margin-top: 30px;
    text-align: center;
    display: block;
    color: #00acac;
}

/*
* FOOTER
*/
#landing-page footer {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #212121;
}
