/*
* Header Styles
*/
#public {
	min-height: 100%;
	height: 100%;
	background-color: #fff;
}

#public header#main {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 10px 15px;    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateZ(0);
	z-index: 100;	
}

#public header#main:after {
	content: '';
	display: block;
	clear: both;	
}

#public header#main #logo img {
	width: 35px;
}

#public header#main div.act-table-container-inline div.act-table-row #logo.act-table-cell {
    width: 155px;
    padding-right: 15px;
}

#public header#main div.act-table-container-inline div.act-table-row #user-status.act-table-cell {
    padding-left: 15px;
}

#public header#main div.act-table-container-inline div.act-table-row #user-status.act-table-cell span.name {
    color: #00acac !important;
}

#public header#main div.act-table-container-inline div.act-table-row #logo.act-table-cell div.btn-group {
    margin-left: 15px;
}

#public header#main div.act-table-container-inline div.act-table-row #user-status.act-table-cell div#sign-btns {
    width: 198px;
}


#public header#main #logo .btn-group #drpdwn-menu{
    margin-left: 15px;
}

#public header#main div.btn-toolbar {
    padding-left: 160px;
    position: relative;
}

#public header#main div.custom p.text-info{
    padding-left: 160px;
    margin-bottom: 0;
}

#public header#main div.custom p.text-info a{
    font-family: 'montserrat-bold', Helvetica, sans-serif;
}

#public header#main div.custom.btn-toolbar .btn-group{
    margin-right: 30px;
    position: static;
}

#public header#main div.custom.btn-toolbar .btn-group .dropdown-menu{
    width: 100%;
}

#public header#main div.custom.btn-toolbar .btn-group .dropdown-menu ul{
    list-style-type: none;
    padding: 0;
}

#public header#main div.custom.btn-toolbar .btn-group .dropdown-menu ul li a{
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

#public header#main div.act-table-container-inline div.act-table-row div.act-table-cell .search-box input {
    background: #e9e9e9;
    border-color: #d4d4d4;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*
* Main
*/
#public main#content {
	position: relative;
	height: 100%;
	padding: 66px 0 0 15px;
	background-color: #f7f7f7;
}

#public main#content #searchjob-wrapper {
	height: 100%;
    overflow: auto;
    padding-right: 280px;
}