/*
* Search: JOB;
*/
#public #jobList .job {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    background: #fff;
	margin: 15px 0 15px 0;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);	
}

#public #jobList .job .basic-info .addTobookmark-btn a {
    background-image: url(../images/bookmark-inactive.png);
    display: block;
    width: 20px;
    height: 34px;
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    right: 30px;
    top: 15px;
}

#public #jobList .job .basic-info .addTobookmark-btn.active a {
    background-image: url(../images/bookmark-active.png);
    display: block;
    width: 20px;
    height: 34px;
    background-repeat: none;
    float: right;
    position: absolute;
    right: 30px;
    top: 15px;
}

#public #jobList .job > .basic-info {
	padding: 15px;
}

#public #jobList .job > .readmore {
	background-color: #00acac;
	text-align: center;
	padding: 10px;
}

#public #jobList .job > .readmore a {
	display: block;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
    text-decoration: none;
}

#public #jobList .job .basic-info header {
	display: table;
	margin-bottom: 15px;
}

#public #jobList .job .basic-info header img {
	display: table-cell;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

#public #jobList .job .basic-info header .title {
	display: inline-block;
	vertical-align: top;
	display: table-cell;
}

#public #jobList .job .basic-info header .title h5 { 
	font-family: 'montserrat-bold', Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
/*	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;	*/
	margin: 0;
}

#public #jobList .job .basic-info .property, 
#public #jobList .job .basic-info .value {
	display: inline-block;
	text-transform: uppercase;
}

#public #jobList .job .basic-info .property {
	font-size: 12px;
	color: #999;
}
