/*
* Sidebar right
*/

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bm-title {
	font-size: 12px;
    text-transform: uppercase;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bm-author {
	font-size: 12px;
    color: #999;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bm-author span {
	color: #00acac;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link > a{
	display: block;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #555;
	text-decoration: none;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link {
	padding: 5px 10px;
	border-bottom: 1px solid #e6e6e6;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link:nth-child(4) {
	border: none;
}

#public #rightSidebar #bookmarks #bookmark-list{
	display: block;
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	color: #555;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand {
    position: absolute;
    width: 370px;
    height: auto;
    left: -400px;
    top: -30px;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList .job .basic-info header .addTobookmark-btn > a {
	top: 0;
    right: 0;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList .job .basic-info header .title {
    width: 280px;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList {
	background: #fff;
    height: auto;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand #jobList .job {
	margin: 0;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link.active .bookmark-expand {
    display: block;
    z-index: 300;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link {
    position: relative;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link.active .bookmark-expand:after {
	position: absolute;
	z-index: 150;
	content: '';
    top: 54px;
	right: -12.5px;
	border: none;
	background: #fff;
	width: 1em;
	height: 1em;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link.active:after {
	position: absolute;
	z-index: 150;
	content: '';
    top: 50%;
	left: -30px;
	border: none;
	background: #fff;
	width: 1em;
	height: 1em;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg);
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#public #rightSidebar #bookmarks #bookmark-list .bm-post-link .bookmark-expand .readmore a {
    color: #fff;
}

#public #rightSidebar {
	position: fixed;
	z-index: 99;
	width: 280px;
	height: 100%;
	top: 65px;
	right: 0;
	padding: 15px;
	/*border-color: #e6e6e6;*/
}

#public #rightSidebar > .tool { 
	margin-bottom: 30px;
}

#public #rightSidebar > .tool > .empty { 
	position: relative;
	border: 1px dashed #e6e6e6;
	width: 100%;
	height: 216px;
	color: #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#public #rightSidebar > .tool > .empty > .message {
	position: absolute;
	top:50%;
	right: 15px;
	text-align: center;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#public #rightSidebar > .tool header h6 { 
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	text-transform: uppercase;
	float: left;
}

#public #rightSidebar > .tool .more { 
	font-size: 12px;
	float: right;
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}

#public #rightSidebar > .tool header:after { 
	content: '';
	display: block;
	clear: both;
}

#public #rightSidebar #searchBox { 
	display: none;
}

/*
* CUSTOM APPLY MODAL by Raven the awesome guy
*/
#apply-modal {
    display: block;
}

#apply-modal .modal-dialog {
    width: 900px;
}

#apply-modal .modal-dialog .modal-content {
    width: 900px;
}

#apply-modal .modal-dialog .modal-content a.close {
    margin-top: 15px;
    margin-right: 15px;
}

#apply-modal .modal-dialog .modal-content .modal-body {
    padding: 30px;
}

#apply-modal .modal-dialog .modal-content .modal-body .row {
    position: relative;
}

#apply-modal .modal-dialog .modal-content .modal-body form#returning-user {
    margin-right: 15px;
}

#apply-modal .modal-dialog .modal-content .modal-body form#returning-user button.btn.submit-btn,
#apply-modal .modal-dialog .modal-content .modal-body form#account-creation-form button.btn.submit-btn,
#apply-modal .modal-dialog .modal-content .modal-body form#upload-cv-form button.btn.submit-btn{
    float: right;
}

#apply-modal .modal-dialog .modal-content .modal-body form#returning-user button.btn.submit-btn:after,
#apply-modal .modal-dialog .modal-content .modal-body form#account-creation-form button.btn.submit-btn:after,
#apply-modal .modal-dialog .modal-content .modal-body form#upload-cv-form button.btn.submit-btn:after {
    content: "";
    display: block;
    clear: both;
}

#apply-modal .modal-dialog .modal-content .modal-body form#guest {
    margin-left: 15px;
    margin-top: 30px;
}


#apply-modal .modal-dialog .modal-content .modal-body form#returning-user,
#apply-modal .modal-dialog .modal-content .modal-body form#guest {
    border-radius: 5px;
    padding: 15px;
}

#apply-modal .modal-dialog .modal-content .modal-body form#returning-user .form-group label,
#apply-modal .modal-dialog .modal-content .modal-body form#guest .form-group label,
#apply-modal .modal-dialog .modal-content .modal-body form#account-creation-form .form-group label,
#apply-modal .modal-dialog .modal-content .modal-body #account-creation-guide label,
#apply-modal .modal-dialog .modal-content .modal-body #upload-cv-note label,
#apply-modal .modal-dialog .modal-content .modal-body #upload-cv-form label{
    font-family: 'montserrat-light', Helvetica, sans-serif;
    font-size: 10px;
    color: #555;
}

#apply-modal .modal-dialog .modal-content .modal-body #account-creation-guide p,
#apply-modal .modal-dialog .modal-content .modal-body #upload-cv-note p {
    font-family: 'montserrat-light', Helvetica, sans-serif;
    color: #999;
}

#apply-modal .modal-dialog .modal-content .modal-body #upload-cv-form .form-group span.file-selected  {
    margin-left: 30px;
}