#public #singlepost .featured .property, 
#public #singlepost .featured .value {
	display: inline-block;
	text-transform: uppercase;
}

#public #singlepost .featured .property {
	font-size: 12px;
	color: #999;
}

/*
* SECTION: HEADER
*/

#public #singlepost .featured .featured-header {
	display: table;
	margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

#public #singlepost .featured .featured-header.expanded {
    display: block !important;
    width: 100%;
}

#public #singlepost .featured .featured-header.expanded .left-header {
    display: table;
}

#public #singlepost .featured .featured-header.expanded:after {
    clear: both;
    content: "";
    display: block;
}

#public #singlepost .featured .featured-header img {
	display: table-cell;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

#public #singlepost .featured .featured-header .title {
	display: inline-block;
	vertical-align: top;
	display: table-cell;
}

#public #singlepost .featured .featured-header .title h5 { 
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
/*	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;	*/
	margin: 0;
}

#public #singlepost .featured .featured-header.expanded h3 {
    margin: 0;
}

#public #singlepost .featured .bookmark-wrapper {
	font-family: 'montserrat-bold', Helvetica, sans-serif;
    font-size: 12px;
}

#public #singlepost .featured .bookmark-wrapper a {
    text-decoration: none;
    text-transform: none;
    color: #555;
    display: block;
}

#public #singlepost .featured .bookmark-wrapper a span {
    display: inline-block;
    vertical-align: middle;
}

#public #singlepost .featured .bookmark-wrapper i {
    font-size: 18px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

/*
* SECTION: BASIC INFO
*/

#public #singlepost .featured .basic-info .list {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
}

#public #singlepost .featured .basic-info .value {
    display: inline-block;
    text-transform: uppercase;
    color: #555;
}

#public #singlepost .featured .basic-info .print:after {
    clear: both;
    content: "";
    display: block;
}

#public #singlepost .featured .basic-info .print {
	font-family: 'montserrat-light', Helvetica, sans-serif;
    font-size: 12px;
}

#public #singlepost .featured .basic-info .print a {
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}


/*
* SECTION: MISC
*/

#public #singlepost .featured .misc {
	font-family: 'montserrat-light', Helvetica, sans-serif;
	margin-top: 30px;
}

#public #singlepost .featured .misc h6 {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    text-transform: uppercase;
}

#public #singlepost .featured .misc .fa-li {
	color: #00acac;
}

/*
* SECTION: JOB DESCRIPTION
*/

#public #singlepost .featured .job-description {
	font-family: 'montserrat-light', Helvetica, sans-serif;
	margin-top: 30px;
}

#public #singlepost .featured .job-description h6 {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    text-transform: uppercase;
}

/*
* SECTION: FOOTER
*/

#public #singlepost .featured .featured-footer {
	font-family: 'montserrat-light', Helvetica, sans-serif;
	margin-top: 30px;
}

#public #singlepost .featured .featured-footer .share, #public #singlepost .featured footer .refer {
	color: #00acac;
    text-decoration: none;
    text-transform: none;
    font-size: 12px;
}

#public #singlepost .featured .featured-footer .share{
    border-right: 1px solid #555;
    padding-right: 15px;
    margin-right: 15px;
}

/*
* SECTION: RELATED POSTS
*/

/*
* SECTION: HEADER
*/

#public #singlepost .related-posts .related-posts-header{
    margin-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#public #singlepost .related-posts .related-posts-header:after{
    clear: both;
    content: "";
    display: block;    
}

#public #singlepost .related-posts .related-posts-header h4{
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
}

#public #singlepost .related-posts .related-posts-header .see-all{
	font-family: 'montserrat-light', Helvetica, sans-serif;
    font-size: 12px;
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}

/*
* SECTION: RECOMMENDED POSTS
*/

/*
* SECTION: HEADER
*/

#public #singlepost .recommended-posts .recommended-posts-header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#public #singlepost .recommended-posts .recommended-posts-header:after{
    clear: both;
    content: "";
    display: block;    
}

#public #singlepost .recommended-posts .recommended-posts-header h4{
	font-family: 'montserrat-regular', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0;
}

#public #singlepost .recommended-posts .recommended-posts-header .see-all{
	font-family: 'montserrat-light', Helvetica, sans-serif;
    font-size: 12px;
    color: #00acac;
    text-decoration: none;
    text-transform: none;
}