	<a href="" class="link">
		<i class="fa fa-home icon"></i>
		BACK TO HOME
	</a>
	<a href class="link" ng-class="{'active': vm.activeFilter.position}" ng-click="vm.showList('position')">
		<div class="title">
			Position
		</div>
		<i class="fa fa-caret-right"></i>
		<div class="selected" >
			{{vm.selectedFilters.position}}
		</div>
	</a>
	<a href="" class="link" ng-class="{'active': vm.activeFilter.vesselType}" ng-click="vm.showList('vesselType')">
		<div class="title">
			Vessel Type
		</div>
		<i class="fa fa-caret-right"></i>
		<div class="selected">
			{{vm.selectedFilters.vesselType}}
		</div>
	</a>	
	<a href="" class="link" ng-class="{'active': vm.activeFilter.sortBy}" ng-click="vm.showList('sortBy')">
		<div class="title">
			Sort By
		</div>
		<i class="fa fa-caret-right"></i>
		<div class="selected">
			{{vm.selectedFilters.sortBy}}
		</div>
	</a>
	<a href="" class="link" ng-class="{'active': vm.activeFilter.country}" ng-click="vm.showList('country')">
		<div class="title">
			Country
		</div>
		<i class="fa fa-caret-right"></i>
		<div class="selected">
		  <i ng-if="vm.selectedFilters.country != 'worldwide'" class="{{vm.selectedFilters.country}} flag"></i>	{{vm.getCountryName(vm.selectedFilters.country)}}
		  <span ng-if="vm.selectedFilters.country == 'worldwide'">worldwide</span>
		</div>
	</a>