/*
* Search: JOB;
*/
#public #jobList .job {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	margin: 15px 0 30px 0;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);	
}

#public #jobList .job > .bookmark,
#public #jobList .job > .basic-info {
	border-bottom: 1px solid #e6e6e6;
}

#public #jobList .job > .bookmark {
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
}

#public #jobList .job > .bookmark a {
	display: block;
	color: #555;
	text-decoration: none;
}

#public #jobList .job > .bookmark a:hover .fa-bookmark {
	color: #d75452;
}

#public #jobList .job > .basic-info,
#public #jobList .job > .misc {
	padding: 15px;
}

#public #jobList .job > .readmore {
	background-color: #00acac;
	text-align: center;
	padding: 10px;
}

#public #jobList .job > .readmore a {
	display: block;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
    text-decoration: none;
}

#public #jobList .job .basic-info header {
	display: table;
	margin-bottom: 15px;
}

#public #jobList .job .basic-info header img {
	display: table-cell;
	vertical-align: top;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

#public #jobList .job .basic-info header .title {
	display: inline-block;
	vertical-align: top;
	display: table-cell;
}

#public #jobList .job .basic-info header .title h5 { 
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
/*	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;	*/
	margin: 0;
}

#public #jobList .job .basic-info .property, 
#public #jobList .job .basic-info .value {
	display: inline-block;
	text-transform: uppercase;
}

#public #jobList .job .basic-info .property {
	font-size: 12px;
	color: #999;
}

#public #jobList .job .misc .fa-li {
	color: #00acac;
}

#public #jobList .job .misc {
	font-family: 'montserrat-light', Helvetica, sans-serif;
}

#public #jobList .job .misc h6 {
	font-family: 'montserrat-regular', Helvetica, sans-serif;
	text-transform: uppercase;
}

#public main#content #reminders-wrapper {
    width: calc(100% - 575px);
    padding: 5px 0;
    background-color: #509bf5; 
    position: fixed;
    text-align: center;
    top: 85px;
    right: 280px;
}

#public main#content #reminders-wrapper .reminder-item a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: none;
}

#public main#content #reminders-wrapper .reminder-item a > i{
    color: #fff;
    margin-right: 5px;
}
