
<div class="filter-controller-scope" ng-controller="SearchJobFilterCountry as vm">
	
	<a href class="close" ng-click="closeFilterSelection()"> close <i class="fa fa-close"></i> </a>
	<h3>WHAT IS YOUR PREFERRED COUNTRY ?</h3>

	<div class="search">
	  <span class="icon"> <i class="fa fa-search"></i> </span>
	  <input type="text" placeholder="Search here" ng-model="vm.search">
	</div>

	<div class="all" ng-class="{'active': vm.currentSelected == 'worldwide'}">
		<a href ng-click="vm.selectCountry('worldwide')">Worldwide <i class="fa fa-arrow-circle-right"></i> </a>	
	</div>
	

	<div class="list-wrapper">
		<ul class="row list">
			<li class="col-sm-4" ng-class="{'active': vm.currentSelected == country.code}" ng-repeat="country in vm.countries | filter: vm.search">
				<a href ng-click="vm.selectCountry(country.code)"><i class="{{country.code}} flag"></i> {{country.name}}</a>
			</li>
		</ul>		
	</div><!-- <div class="list-wrapper"> -->



</div><!-- end of controller scope --> 