
<div id="searchjob-wrapper" scroller end="vm.showMoreItems()">
    <div class="container-fluid">
        <div id="jobList" class="row" >
            <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="job in vm.results">
                <article class="job">
                    <header class="bookmark">
                        <a href ng-click="addBookmark(job)">Add to Bookmark <i class="fa fa-bookmark"></i> </a>
                    </header>
                    <section class="basic-info">
                        <header>
                            <img src="content/images/photo_placeholder.jpg" alt="">
                            <div class="title">
                                <h5>{{job.headline}} </h5> <i class="fa fa-warning" ng-show="job.urgent"></i>
                                <div class="author">
                                    by <a href="">{{job.agencyName}} </a> <i class="{{job.country}} flag"></i>
                                </div>
                            </div>
                        </header>

                        <ul class="list">
                            <li class="item">
                                <div class="property">Position:</div> <div class="value">{{job.position}}</div>
                            </li>
                            <li class="item">
                                <div class="property">Vessel Type:</div> <div class="value">{{job.vesselType}}</div>
                            </li>
                            <li class="item">
                                <div class="property">Proposed Salary:</div>
                                    <div class="value">
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.min}}
                                         -
                                        <i class="{{job.proposedSalary.currency}} icon"></i>{{job.proposedSalary.max}}
                                    </div>
                            </li>
                        </ul>



                    </section>
                    <section class="misc">
                        <h6>Employment Benefits</h6>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-check"></i> Test
                            </li>
                        </ul>
                    </section>
                    <footer class="readmore">
                        <a href ui-sref="default.singlepost({id:job._id})" target="_blank">read more</a>
                    </footer>
                </article> <!-- <article class="job"> -->
            </div> <!-- <div class="col-sm-12 col-md-6 col-lg-4"> -->



        </div> <!-- <div id="jobList"> -->

            <div class="text-center" ng-show="vm.loadingMore">
                   
                        Loading More....
                                   
            </div>        
    </div>
</div>

<!-- ui-sref="default.singlepost({id:job._id})" -->