<div  class="filter-controller-scope" ng-controller="SearchJobFilterSort as vm">
	<a href class="close" ng-click="closeFilterSelection()"> close <i class="fa fa-close"></i> </a>
	<h3>HOW DO YOU WANT IT TO BE SORTED ?</h3>

	<div class="list-wrapper">
		<ul class="list">
			<li ng-class="{'active': vm.currentSelected == 'highest salary'}">
				<a href ng-click="vm.selectSort('highest salary')"> By Highest Salary</a>
			</li>
			<li ng-class="{'active': vm.currentSelected == 'urgency'}">
				<a href ng-click="vm.selectSort('urgency')"> By Urgency</a>
			</li>
			<li ng-class="{'active': vm.currentSelected == 'post date'}">
				<a href ng-click="vm.selectSort('post date')"> By Post Date</a>
			</li>
		</ul>
	</div><!-- <div class="list-wrapper"> -->
	
</div> 