<div  class="filter-controller-scope" ng-controller="SearchJobFilterPosition as vm">
	<a href class="close" ng-click="closeFilterSelection()"> close <i class="fa fa-close"></i> </a>
	<h3>WHAT IS YOUR POSITION ?</h3>

	<div class="search">
	  <span class="icon"> <i class="fa fa-search"></i> </span>
	  <input type="text" placeholder="Search here" ng-model="vm.search">
	</div>

	<div class="all" ng-class="{'active': vm.currentSelected == 'all positions'}">
		<a href ng-click="vm.selectPosition('all positions')">All Positions <i class="fa fa-arrow-circle-right"></i> </a>	
	</div>
	<div class="list-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<h5>Deck Department</h5>

					<ul class="list">
						<li ng-class="{'active': vm.currentSelected == deck}" ng-repeat="deck in vm.deck track by $index | filter: vm.search">
							<a href ng-click="vm.selectPosition(deck)">{{deck}}</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h5>Engineering Department</h5>
					<ul class="list">
						<li ng-repeat="engineer in vm.engineering track by $index | filter: vm.search">
							<a href ng-click="vm.selectPosition(engineer)">{{engineer}}</a>
						</li>
					</ul>				
				</div>
				<div class="col-sm-4">
					<h5>Steward Department</h5>
					<ul class="list">
						<li ng-repeat="steward in vm.steward track by $index | filter: vm.search">
							<a href ng-click="vm.selectPosition(steward)">{{steward}}</a>
						</li>
					</ul>					
				</div>
			</div>
		</div>	
	</div> <!-- <div class="list-wrapper"> -->
</div> 