<div  class="filter-controller-scope" ng-controller="SearchJobFilterVessel as vm">
	<a href class="close" ng-click="closeFilterSelection()"> close <i class="fa fa-close"></i> </a>
	<h3>WHAT IS YOUR PREFERRED VESSEL ?</h3>

	<div class="search">
	  <span class="icon"> <i class="fa fa-search"></i> </span>
	  <input type="text" placeholder="Search here" ng-model="vm.search">
	</div>

	<div class="all" ng-class="{'active': vm.currentSelected == 'all vessels'}">
		<a href ng-click="vm.selectVessel('all vessels')">All Vessels <i class="fa fa-arrow-circle-right"></i> </a>	
	</div>
	<!-- <h5>Deck Department</h5> -->
	<div class="list-wrapper">
		<ul class="row list">
			<li class="col-sm-4" ng-class="{'active': vm.currentSelected == vessel}" ng-repeat="(index, vessel) in vm.vesselTypes | filter: vm.search">
				<a href ng-click="vm.selectVessel(vessel)">{{vessel}}</a>
			</li>
		</ul>
	</div><!-- <div class="list-wrapper"> -->

</div> 