<div class="row">
	<div class="col-md-6">
		<p>Returning user? You must be logged in for you to be able to send this your application</p>
		<form role="form" class="segment" novalidate name="form" ng-submit="vm.login(form)">
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="Enter email"
				name="email" 
				ng-model="vm.input.email"
				ng-required="true"
				ng-trim="true"
				ng-change="vm.onChangeEmail(form)">

				<div ng-if="form.$submitted" ng-messages="form.email.$error" class="text-danger">
					<small ng-message="required">You did not enter your email</small>
					<small ng-message="email">Invalid email format</small>
					<small ng-message="exist">Email does not exist</small>
					<small ng-message="active">This account is currently deactivated</small>
				</div>				
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password"
				name="password" 
				ng-model="vm.input.password"
				ng-required="true"
				ng-trim="true"
				ng-change="vm.onChangePass(form)">	

				<div ng-if="form.$submitted" ng-messages="form.password.$error" class="text-danger">
					<small ng-message="required">You did not enter your password</small>
					<small ng-message="password">Password is incorrect</small>
				</div>				
			</div>
			<button type="submit" class="btn btn-default btn-lg btn-block">LOGIN</button>
	<!-- 		<div class="checkbox">
				<label class="remember">
					<input type="checkbox"> Stay Logged In
				</label>
			</div>	 -->  

		</form>			

	</div>
	<div class="col-md-6">
		Register or upload your cv directly
	</div>
</div>
