
<article class="segment basic page-content cv-summary">
	<div class="block-header inverted">
		<h4>Basic <span class="highlight-gray">Information</span></h4>
	</div>
	<section class="segment basic-information">
	
		<form name="form" class="row" novalidate ng-submit="vm.update(form)">
			<div class="col-sm-8">
				
					<div class="form-group">
						<label>Name:</label>
						<input type="text" class="form-control" 
						name="name" 
						ng-model="vm.input.name" 
						ng-trim="true"
						ng-required="true">

						<div ng-if="form.$submitted" class="text-danger" ng-messages="form.name.$error">
							<div ng-message="required">Please enter your name</div>
						</div>
					</div>
					<div class="form-group">
						<label>Rank:</label>
						<div ui-select theme="bootstrap" 
						name="rank"
						ng-model="vm.input.rank"
						ng-required="true">
						    <div ui-select-match placeholder="Select or Search your current rank..">{{$select.selected.name}}</div>
						    <div ui-select-choices group-by="'category'" repeat="value.name as value in vm.ranks | filter: $select.search">
								<div ng-bind-html="value.name | highlight: $select.search"></div>
							</div>
						</div>

						<div ng-if="form.$submitted" class="text-danger" ng-messages="form.rank.$error">
							<div ng-message="required">You did not select your rank</div>
						</div>						
					</div>	
					<div class="form-group">
						<label>Date of Birth:</label>
						<input type="text" class="form-control">
					</div>	
					<div class="form-group">
						<label>Gender:</label>
						<select ng-options="v as v for v in vm.gender" class="form-control"
						name="gender"  
						ng-model="vm.input.gender">
							<option value="">Select Gender</option>
						</select>
					</div>	
					<div class="form-group">
						<label>Nationality:</label>
						<input type="text" class="form-control" 
						name="nationality" 
						ng-model="vm.input.nationality" 
						ng-trim="true">
					</div>	
					<div class="form-group">
						<label>Email:</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Contact 1:</label>
						<input type="text" class="form-control" 
						name="contactOne" 
						ng-model="vm.input.contactOne" 
						ng-trim="true">
					</div>	
					<div class="form-group">
						<label>Contact 2:</label>
						<input type="text" class="form-control" 
						name="contactTwo"
						ng-model="vm.input.contactTwo" 
						ng-trim="true">
					</div>
					<div class="form-group">
						<label>Expected Salary Range:</label>
						<div ui-select theme="bootstrap" 
						name="salary"
						ng-model="vm.input.expectedSalaryRange">
						<div ui-select-match placeholder="Select or Search your proposed salary.."><i class="usd icon"></i>{{$select.selected.min}} - <i class="usd icon"></i>{{$select.selected.max}}</div>
						    <div ui-select-choices repeat="value in vm.salaryRange | filter: $select.search">
								<i class="usd icon"></i>{{value.min}} - <i class="usd icon"></i>{{value.max}}
						    </div>
						</div>
					</div>
					<div class="form-group">
						<label>Address:</label>
						<input type="text" class="form-control" 
						name="address" 
						ng-model="vm.input.address" 
						ng-trim="true">
					</div>
					<div class="form-group">
						<label>City:</label>
						<input type="text" class="form-control" 
						name="city" 
						ng-model="vm.input.city" 
						ng-trim="true">
					</div>
					<div class="form-group">
						<label>State:</label>
						<input type="text" class="form-control" ng-if="vm.input.country != 'us'" ng-model="vm.input.state">
						<div ui-select theme="bootstrap" ng-if="vm.input.country == 'us'"
						name="state" 
						ng-model="vm.input.state">
						    <div ui-select-match placeholder="Select or Search state..">{{$select.selected.name}}</div>
						    <div ui-select-choices repeat="value.code as value in vm.states | filter: $select.search">
								<span ng-bind-html="value.name | highlight: $select.search"></span>
							</div>
						</div>							
					</div>	
					<div class="form-group">
						<label>Country:</label>
						<div ui-select theme="bootstrap" 
						name="country"
						ng-model="vm.input.country"
						ng-required="true">
						    <div ui-select-match placeholder="Select or Search your country.."><i class="{{$select.selected.code}} flag"></i> {{$select.selected.name}}</div>
						    <div ui-select-choices repeat="value.code as value in vm.countries | filter: $select.search">
								<i class="{{value.code}} flag"></i> <span ng-bind-html="value.name | highlight: $select.search"></span>
							</div>
						</div>	

						<div ng-if="form.$submitted" class="text-danger" ng-messages="form.country.$error">
							<div ng-message="required">You did not select any country</div>
						</div>
					</div>
					<div class="form-group">
						<label>Zip Code:</label>
						<input type="text" class="form-control"
						name="zip"
						ng-model="vm.input.zipCode"
						ng-trim="true">
					</div>																																																																		
						
			</div> <!-- <div class="col-sm-8"> -->

			<div class="col-sm-4 text-center">
				<img class="photo" src="content/images/photo_placeholder.jpg">		
				<button type="submit" class="btn btn-main">Change Photo</button>
			</div>
			<div class="col-sm-12">
				<div class="text-right">
					<button type="submit" class="btn btn-main">Update</button>
					<button type="button" class="btn btn-cancel" ui-sref="applicant.cvsummary">CANCEL</button>			
				</div>		
			</div>			
		</form>

						
	</section> <!-- <section class="segment basic-information"> -->
</article>