<!-- 		<pre>{{vm.details | json}}</pre> -->
<article class="segment basic page-content cv-summary pull-left">
	<div id="section-basic-information" class="block-header inverted">
		<h4>Basic <span class="highlight-gray">Information</span></h4>
		<div class="action" ui-sref="applicant.editcv">edit <i class="fa fa-arrow-circle-right"></i></div>
	</div>
	<section class="segment basic-information">
		<img class="photo" src="content/images/logo.gif">
		<h2 class="name">{{vm.details.user.name | capitalize}}</h2>
		<h4 class="rank">Rank: <span>{{vm.details.rank | capitalize}}</span></h4>

		<ul class="list">
			<li class="item">
		        <i class="fa fa-calendar icon"></i>
		        <label>Date of Birth:</label> 
		        <span class="value" ng-if="vm.details.dob">
		        	{{vm.details.dob | date: 'mediumDate'}}
				</span>
		        <span class="value" ng-if="!vm.details.dob">
		        	[ not specified ]
				</span>				
			</li>
				<li class="item">
		        <i class="fa fa-female icon"></i>
		        <label>Gender:</label> 
		        <span class="value" ng-if="vm.details.gender">
		        	{{vm.details.gender}}
				</span>
		        <span class="value" ng-if="!vm.details.gender">
		        	[ not specified ]
				</span>			        
			</li>
			<li class="item">
		        <i class="fa fa-flag icon"></i>
		        <label>Nationality:</label>
		        <span class="value" ng-if="vm.details.nationality">
		        	{{vm.details.nationality | capitalize}}
				</span>
		        <span class="value" ng-if="!vm.details.nationality">
		        	[ not specified ]
				</span>			        
			</li>
			<li class="item">
		        <i class="fa fa-envelope icon"></i>
		        <label>Email:</label> 
		        <span class="value" ng-if="vm.details.user.email">
		        	{{vm.details.user.email}}
				</span>
		        <span class="value" ng-if="!vm.details.user.email">
		        	[ not specified ]
				</span>			        
			</li>
			<li class="item">
		        <i class="fa fa-phone icon"></i>
		        <label>Contact 1:</label> 
		        <span class="value" ng-if="vm.details.contactOne">
		        	{{vm.details.contactOne}}
				</span>
		        <span class="value" ng-if="!vm.details.contactOne">
		        	[ not specified ]
				</span>			        
			</li>
			<li class="item">
		        <i class="fa fa-phone icon"></i>
		        <label>Contact 2:</label> 
		        <span class="value" ng-if="vm.details.contactTwo">
		        	{{vm.details.contactTwo}}
				</span>
		        <span class="value" ng-if="!vm.details.contactTwo">
		        	[ not specified ]
				</span>			        
			</li>					
			<li class="item">
		        <i class="fa fa-money icon"></i>
		        <label>Expected Salary Range:</label> 
		        <span class="value" ng-if="vm.details.expectedSalaryRange">
		        	<i class="{{vm.details.expectedSalaryRange.currency}} icon"></i>{{vm.details.expectedSalaryRange.min}} 
		        	- 
		        	<i class="{{vm.details.expectedSalaryRange.currency}} icon"></i>{{vm.details.expectedSalaryRange.max}}
				</span>
		        <span class="value" ng-if="!vm.details.expectedSalaryRange">
		        	[ not specified ]
				</span>				        
			</li>
			<li class="item">
		        <i class="fa fa-map-marker icon"></i>
		        <label>Country:</label> <span class="value">
		        <span class="value" ng-if="vm.details.country">
		        	<i class="{{vm.details.country}} flag"></i> {{vm.getCountryName(vm.details.country)}}
				</span>
		        <span class="value" ng-if="!vm.details.country">
		        	[ not specified ]
				</span>		        
			</li>																																				
		</ul>					
	</section> <!-- <section class="segment basic-information"> -->
	<div id="section-primary-documents" class="block-header inverted">
		<h4>Primary <span class="highlight-gray">Documents</span></h4>
		<div class="action" ui-sref="applicant.primarydoc">edit <i class="fa fa-arrow-circle-right"></i></div>
	</div>
	<section class="segment primary-documents">

		<div ng-repeat="doc in vm.details.documents">
			<label>{{doc.description}}</label>
			<div class="segment inverted gray">
				<div class="row">
					<div class="col-sm-4">
				        <i class="fa fa-credit-card icon"></i>
				        <label>No:</label> <span class="value">{{doc.number}}</span>
					</div>
					<div class="col-sm-4">
				        <i class="fa fa-calendar icon"></i>
				        <label>Date Issued:</label> <span class="value">{{doc.dateIssued | date: 'mediumDate'}}</span>					
					</div>
					<div class="col-sm-4">
				        <i class="fa fa-calendar icon"></i>
				        <label>Valid Until:</label> <span class="value">{{doc.validUntil | date: 'mediumDate'}}</span>					
					</div>
				</div>
			</div> <!-- <div class="segment gray"> -->			
		</div>

	</section> <!-- <section class="segment primary-documents"> -->
	<div id="section-training-courses" class="block-header inverted">
		<h4>Training <span class="highlight-gray">Courses</span></h4>
		<div class="action" ui-sref="applicant.traininglist">edit <i class="fa fa-arrow-circle-right"></i></div>
	</div>		
	<section class="segment training-courses">
		
		<div class="segment" ng-show="vm.details.trainings.length > 0">
			<div class="row">
				<div class="col-sm-6" ng-repeat="c in vm.details.trainings">
					<div class="ui checkbox">
					  <input type="checkbox" checked="checked">
					  <label>{{c.name}}</label>
					</div>							
				</div>
			</div>			
		</div>
		<div class="segment empty" ng-hide="vm.details.trainings.length > 0">
			<div class="cover-content">
				<div class="message">
					Start adding training courses you've taken <br>
					<button type="button" class="btn btn-main" ui-sref="applicant.traininglist"> <i class="fa fa-plus icon"></i> Add</button>
				</div>
			</div>				
		</div>

	</section>	<!-- <section class="segment training-courses"> -->		
	<div id="section-job-history" class="block-header inverted">
		<h4>Job <span class="highlight-gray">History</span></h4>
		<div class="action" ui-sref="applicant.addhistory">add <i class="fa fa-arrow-circle-right"></i></div>
	</div>
	<section class="segment job-histories">

		<div class="history segment empty" ng-hide="vm.details.history.length > 0">
			<div class="empty-cover-content">
				<div class="message">
					Start adding your past sea experiences <br>
					<button type="button" class="btn btn-main" ui-sref="applicant.addhistory"> <i class="fa fa-plus icon"></i> Add</button>
				</div>
			</div>					
		</div>
		<div ng-show="vm.details.history.length > 0">
			<div class="history" ng-repeat="row in vm.details.history">
		 		<div class="header row">
					<div class="left col-sm-6">
						<h5 class="highlight-primary text-uppercase">{{row.position}}</h5>
						{{row.agency}}
					</div>
					<div class="right col-sm-6 text-right">
						Sign On: {{row.signOn | date: 'mediumDate'}}<br>
						Sign Off: {{row.signOff | date: 'mediumDate'}}
					</div>
				</div>
				<div class="segment inverted gray">
					<div class="row">
						<div class="col-sm-6">
							<ul class="list-unstyled">
							  <li>
							  	Vessel Type: 
							  	<span ng-if="row.vesselType">{{row.vesselType}}</span>
							  	<span ng-if="!row.vesselType">[not specified]</span>
							  </li>
							  <li>
							  	Vessel Name: 
							  	<span ng-if="row.vesselName">{{row.vesselName}}</span>
							  	<span ng-if="!row.vesselName">[not specified]</span>							  	
							  </li>
							  <li>
							  	Engine Type: 
							  	<span ng-if="row.engineType">{{row.engineType}}</span>
							  	<span ng-if="!row.engineType">[not specified]</span>							  	
							  </li>
							  <li>
							  	GRT/KW:
							  	<span ng-if="row.grtkw">{{row.grtkw}}</span>
							  	<span ng-if="!row.grtkw">[not specified]</span>								  	
							  </li>
							</ul>								
						</div>
						<div class="col-sm-6">
							<ul class="list-unstyled">
							  <li>
							  	Nationality of Master:
							  	<span ng-if="row.masterNationality">{{row.masterNationality}}</span>
							  	<span ng-if="!row.masterNationality">[not specified]</span>								  	
							  </li>
							  <li>
							  	Principal: 
							  	<span ng-if="row.principal">{{row.principal}}</span>
							  	<span ng-if="!row.principal">[not specified]</span>	
							  </li>
							  <li>
							  	Flag:
							  	<span ng-if="row.flag">{{row.flag}}</span>
							  	<span ng-if="!row.flag">[not specified]</span>								  	
							  </li>
							  <li>
							  	Trade Route:
							  	<span ng-if="row.route">{{row.route}}</span>
							  	<span ng-if="!row.route">[not specified]</span>								  	
							  </li>
							</ul>								
						</div>
					</div>
				</div>
				<div class="salary">
					SALARY: <i class="{{row.salary.currency}} icon"></i>{{row.salary.value | currency: ''}}
				</div>
				
				<!-- on hover display-->
				<div class="cover-content">
					<div class="message">
						<button type="button" class="btn btn-main" ui-sref="applicant.edithistory({id:row._id})"> <i class="fa fa-edit icon"></i> Edit</button>
						<button type="button" class="btn btn-delete" ng-click="vm.destroy(row)"> <i class="trash icon"></i> Delete</button>
					</div>
				</div>							
			</div> <!-- <div class="history"> -->			
		</div>



	</section> <!-- <section class="segment job-history"> -->
</article>	<!-- <article class="segment basic page-content"> -->

<article id="sections-shortcut" class="pull-left">
        <header class="section-shortcut-header">
            <h6>SECTIONS</h6>
        </header>
        <div id="section-list">
            <div class="sec-post-link">
                <a href="#section-basic-information" ng-click="vm.gotoAnchor('section-basic-information')">

                    Basic Profile
                </a>                               
            </div>
            <div class="sec-post-link">
                <a href="" ng-click="vm.gotoAnchor('section-primary-documents')">
                    Primary Documents
                </a>                               
            </div>
            <div class="sec-post-link">
                <a href="" ng-click="vm.gotoAnchor('section-training-courses')">
                    Training Courses
                </a>                               
            </div>
            <div class="sec-post-link">
                <a href="" ng-click="vm.gotoAnchor('section-job-history')">
                    Job History
                </a>                               
            </div>
		</div>
</article>

<script type="text/ng-template" id="delete.html">
      <div class="modal-header">
        <button type="button" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.ok()">Confirm</button>
        <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
      </div>
</script>