
<article class="segment basic page-content cv-summary">
	<div class="block-header inverted">
		<h4>Job <span class="highlight-gray">History</span></h4>
	</div>
	<section class="segment job-histories edit">
	
		<form name="form" novalidate ng-submit="vm.update(form)">
			<div class="history">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Position</label>
							<div ui-select theme="bootstrap" 
							name="rank"
							ng-model="vm.input.position"
							ng-required="true">
							    <div ui-select-match placeholder="Select or Search your current position..">{{$select.selected.name}}</div>
							    <div ui-select-choices group-by="'category'" repeat="value.name as value in vm.ranks | filter: $select.search">
									<div ng-bind-html="value.name | highlight: $select.search"></div>
								</div>
							</div>

							<div ng-if="form.$submitted" ng-messages="form.rank.$error" class="text-danger">
								<small ng-message="required">Please select your position</small>
							</div>								
						</div>
						<div class="form-group">
							<label>Agency</label>
							<input type="text" class="form-control"
							name="agency"
							ng-model="vm.input.agency"
							ng-required="true"
							ng-trim="true">	

							<div ng-if="form.$submitted" ng-messages="form.agency.$error" class="text-danger">
								<small ng-message="required">Please enter an agency name</small>
							</div>								
						</div>					
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Sign On</label>
							<input type="text" pick-a-date class="form-control" placeholder="Select a date"
							name="signOn" 
							ng-model="vm.input.signOn" 
							ng-required="true" 
							max="vm.input.signOff">	

							<div ng-if="form.$submitted" ng-messages="form.signOn.$error" class="text-danger">
								<small ng-message="required">Please pick a Sign On Date</small>
								<small ng-message="date">Invalid Date</small>
								<small ng-message="max">MAX</small>
							</div>														
						</div>
						<div class="form-group">
							<label>Sign Off</label>
							<input type="text" pick-a-date class="form-control" placeholder="Select a date"
							name="signOff" 
							ng-model="vm.input.signOff" 
							ng-required="true" 
							min="vm.input.signOn">	

							<div ng-if="form.$submitted" ng-messages="form.signOff.$error" class="text-danger">
								<small ng-message="required">Please pick a Sign Off Date</small>
								<small ng-message="date">Invalid Date</small>
								<small ng-message="min">MIN</small>
							</div>	
						</div>						
					</div>
				</div> <!-- <div class="row"> -->

				<div class="segment inverted gray">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Vessel Type</label>
								<input type="text" class="form-control"
								name="vesselType"
								ng-model="vm.input.vesselType"
								ng-trim="true">	
							</div>
							<div class="form-group">
								<label>Vessel Name</label>
								<input type="text" class="form-control"
								name="vesselName"
								ng-model="vm.input.vesselName"
								ng-trim="true">										
							</div>
							<div class="form-group">
								<label>Engine Type</label>
								<input type="text" class="form-control"
								name="engineType"
								ng-model="vm.input.engineType"
								ng-trim="true">										
							</div>
							<div class="form-group">
								<label>GRT/KW</label>
								<input type="text" class="form-control"
								name="grtkw"
								ng-model="vm.input.grtkw"
								ng-trim="true">										
							</div>																			
						</div> <!-- <div class="col-sm-6"> -->
						<div class="col-sm-6">
							<div class="form-group">
								<label>Nationality Of Master</label>
								<input type="text" class="form-control"
								name="master"
								ng-model="vm.input.masterNationality"
								ng-trim="true">	
							</div>
							<div class="form-group">
								<label>Principal</label>
								<input type="text" class="form-control"
								name="principal"
								ng-model="vm.input.principal"
								ng-trim="true">										
							</div>	
							<div class="form-group">
								<label>Flag</label>
								<input type="text" class="form-control"
								name="flag"
								ng-model="vm.input.flag"
								ng-trim="true">										
							</div>	
							<div class="form-group">
								<label>Trade Route</label>
								<input type="text" class="form-control"
								name="route"
								ng-model="vm.input.route"
								ng-trim="true">									
							</div>																	
						</div> <!-- <div class="col-sm-6"> -->
					</div> <!-- <div class="row"> -->				
				</div> <!-- <div class="segment inverted gray"> -->
				<div class="salary">
					<label>SALARY:</label> 
					<input type="text" class="form-control"
					name="salary"
					ng-model="vm.input.salary.value">	
				</div>				
			</div> <!-- history -->


			<div class="text-right">
				<button type="submit" class="btn btn-main">Update</button>
				<button type="button" class="btn btn-cancel" ui-sref="applicant.cvsummary">CANCEL</button>			
			</div>		
					
		</form>

						
	</section> <!-- <section class="segment basic-information"> -->
</article>