<article class="segment basic page-content cv-summary">
	<div class="block-header inverted">
		<h4>Training <span class="highlight-gray">Courses</span></h4>
		<div class="action">edit <i class="fa fa-arrow-circle-right"></i></div>
	</div>
	<section class="segment training-courses">
	
		<form name="form" novalidate ng-submit="vm.update(form)">
	
			<div class="row training-list">
				<div class="col-sm-6" ng-repeat="c in vm.trainingList">
					<div class="ui checkbox" ng-class="{checked: c.$checked}" ng-click="c.$checked = !c.$checked">
					  <input type="checkbox" ng-model="c.$checked">
					  <label>{{c.name}}</label>
					</div>	
				</div>
			</div>

			<div class="text-right">
				<button type="submit" class="btn btn-main">Update</button>
				<button type="button" class="btn btn-cancel" ui-sref="applicant.cvsummary">CANCEL</button>			
			</div>		
					
		</form>

						
	</section> <!-- <section class="segment basic-information"> -->
</article>