
<article class="segment basic page-content cv-summary">
	<div class="block-header inverted">
		<h4>Primary <span class="highlight-gray">Documents</span></h4>
		
	</div>
	<section class="segment primary-documents">
	
		<form name="form" novalidate ng-submit="vm.update(doc,form)" ng-repeat="doc in vm.documents">
			<label>{{doc.description}}</label>
				<div class="segment inverted gray row">
					<div class="form-group col-sm-4">
						<label>No:</label>
						<input type="text" class="form-control" placeholder="Enter number"
						name="number"
						ng-model="doc.number"
						ng-required="true"
						ng-trim="true">

						<div ng-if="form.$submitted" ng-messages="form.number.$error" class="text-danger">
							<small ng-message="required">Please provide {{doc.description}} number </small>
						</div>						
					</div>	
					<div class="form-group col-sm-4">
						<label>Date Issued:</label>

						<input type="text" pick-a-date class="form-control" placeholder="Select a date"
						name="dateIssued" 
						ng-model="doc.dateIssued" 
						ng-required="true" 
						max="doc.validUntil">

						<div ng-if="form.$submitted" ng-messages="form.dateIssued.$error" class="text-danger">
							<small ng-message="required">Please pick a Issuing Date</small>
							<small ng-message="date">Invalid Date</small>
							<small ng-message="max">MAX</small>
						</div>						
					</div>	
					<div class="form-group col-sm-4">
						<label>Valid Until:</label>
	
						<input type="text" pick-a-date class="form-control" placeholder="Select a date"
						name="validUntil" 
						ng-model="doc.validUntil" 
						ng-required="true" 
						min="doc.dateIssued">



						<div ng-if="form.$submitted" ng-messages="form.validUntil.$error" class="text-danger">
							<small ng-message="required">Please pick a Expiration Date</small>
							<small ng-message="date">Invalid Date</small>
							<small ng-message="min">MIN</small>
						</div>																		
					</div>																
				</div> <!-- <div class="segment inverted gray row"> -->


				<div class="text-right">
					<button type="submit" class="btn btn-main">Update</button>
					<button type="button" class="btn btn-cancel" ui-sref="applicant.cvsummary">Back</button>			
				</div>		
		</form>

						
	</section> <!-- <section class="segment basic-information"> -->
</article>