	
	<form role="form" class="segment bordered radius" novalidate name="form" ng-controller="SignupApplicant as vm" ng-submit="vm.createAccount(form)">
		
		<div class="form-group">
			<label>Rank</label>
			<div ui-select ng-model="vm.input.rank" theme="bootstrap" 
			name="rank"
			ng-required="true">
			    <div ui-select-match placeholder="Select or Search your current rank..">{{$select.selected.name}}</div>
			    <div ui-select-choices group-by="'category'" repeat="value.name as value in vm.ranks | filter: $select.search">

			        <div ng-bind-html="value.name | highlight: $select.search"></div>

			    </div>
			</div>	

			  <div ng-if="form.$submitted" ng-messages="form.rank.$error" class="text-danger">
			    <small ng-message="required">You must select your rank</small>
			  </div>					
		</div>		
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Your full name"
			name="name"
			ng-model="vm.input.name"
			ng-required="true"
			ng-maxlength="256"
			ng-trim="true">
				
			  <div ng-if="form.$submitted" ng-messages="form.name.$error" class="text-danger">
			    <small ng-message="required">You did not enter your name</small>
				<small ng-message="maxlength">Name length exceeded</small>
			  </div>			
		</div>	
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" placeholder="Enter email"
			name="email"
			ng-model="vm.input.email"
			ng-required="true"
			ng-maxlength="254"
			ng-change="vm.onChange(form)"
			ng-trim="true">	

			  <div ng-if="form.$submitted" ng-messages="form.email.$error" class="text-danger">
			    <small ng-message="required">You did not enter your email</small>
			    <small ng-message="email">Invalid email format</small>
				<small ng-message="maxlength">Must be less than 254 characters</small>
				<small ng-message="unique">Email already exist</small>
			  </div>					
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" placeholder="Password"
			name="password"
			ng-model="vm.input.password"
			ng-required="true"
			ng-minlength="6"
			ng-maxlength="20"
			ng-trim="true">

			  <div ng-if="form.$submitted" ng-messages="form.password.$error" class="text-danger">
			    <small ng-message="required">You did not enter your password</small>
			    <small ng-message="minlength">Must be greater than 6 characters</small>
				<small ng-message="maxlength">Must be less than 20 characters</small>
			  </div>							
		</div>
		<button type="submit" class="btn btn-default btn-lg btn-block create">CREATE ACCOUNT</button>
	
	</form>	

