<div id="backToDefault">
	<button class="btn btn-default"> <i class="fa fa-arrow-left"></i></button> Back
</div>	

<section id="signup">

	<div id="logo">
		<img src="content/images/logo.gif">		
		<h1>Seafarer Jobsite</h1>		
	</div>

	<div ng-include="vm.formContent">
		<!-- form -->
	</div>



</section>