			<h4>WELCOME</h4>
			<div class="loggedUser">
			  <h3>{{vm.currentUser | capitalize}}</h3>
			</div>

			<p>What do you want to do?</p>

			<ul class="list">
				<li class="item">
			        <i class="fa fa-edit icon"></i>
			        <div class="content">
			          <a href="#/" class="header">Manage your CV<i class="fa fa-arrow-circle-right"></i></a>
			          <div class="description">Im so glad you chose to bring me home from the shelter...</div>
			        </div>					
				</li>
				<li class="item">
			        <i class="fa fa-search icon"></i>
			        <div class="content">
			          <a ng-href="{{vm.searchJobUrl}}" class="header">Look for jobs <i class="fa fa-arrow-circle-right"></i></a>
			          <div class="description">Im so glad you chose to bring me home from the shelter...</div>
			        </div>					
				</li>
				<li class="item">
			        <i class="fa fa-bookmark icon"></i>
			        <div class="content">
			          <a href="#" class="header">Manage Bookmarks <i class="fa fa-arrow-circle-right"></i></a>
			          <div class="description">Im so glad you chose to bring me home from the shelter...</div>
			        </div>					
				</li>
				<li class="item">
			        <i class="fa fa-cloud-upload icon"></i>
			        <div class="content">
			          <a href="#" class="header">Upload Documents <i class="fa fa-arrow-circle-right"></i><span class="badge">4</span></a>
			          <div class="description">Im so glad you chose to bring me home from the shelter...</div>
			        </div>					
				</li>
				<li class="item">
			        <i class="fa fa-gears icon"></i>
			        <div class="content">
			          <a href="#" class="header">Manage Account <i class="fa fa-arrow-circle-right"></i></a>
			          <div class="description">Im so glad you chose to bring me home from the shelter...</div>
			        </div>					
				</li>				
			</ul>