<header id="main" class="container-fluid" ng-controller="SearchHeader as vm">
<div class="row">
    <div class="col-sm-4" id="logo">

            <img src="content/images/logo.gif">
            <h1>Seafarer Jobsite</h1>
    </div> <!--  <div class="col-sm-4" id="logo"> -->
    <div class="col-sm-4">
        <div id="searchOptions">
            <div class="description">Search For:</div>
            <div class="option">
                <div class="ui radio checkbox right checked">
                <input type="radio">
                <label>Job</label>
              </div>
            </div>
            <div class="option">
              <div class="ui radio checkbox right">
                <input type="radio">
                <label>Agency</label>
              </div>
            </div>
            <div class="option">
              <div class="ui radio checkbox right">
                <input type="radio">
                <label>Candidates</label>
              </div>                
            </div>
        </div>


    </div> <!-- <div class="col-sm-4" id="searchOptions"> -->
    <div class="col-sm-4">
        <div id="currentUser" class="dropdown" dropdown ng-show="vm.isLoggedIn()">

              <a href class="dropdown-toggle" dropdown-toggle>
                WELCOME, <span class="name uppercase">{{vm.userName()}}</span>  <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li >
                  <a ng-href="{{vm.goToDashboard}}">Dashboard</a>
                </li>
                <li >
                  <a href ng-click="vm.logout()">Logout</a>
                </li>
              </ul>
        </div>
        <div id="btn-public-login" ng-hide="vm.isLoggedIn()">
              <a href="#">
                <i class="fa fa-user"></i>SIGN IN
              </a>
        </div>
    </div> <!-- <div class="col-sm-4"> -->
 </div>



</header><!-- <header id="main" class="container-fluid"> -->

<div id="filter" ui-view="filter">

</div>

<div id="miscTools">

    <section class="input-group tool" id="searchBox" ng-controller="SearchBox as vm">
		<input type="text" class="form-control" ng-model="vm.keywords">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="vm.search()" >
        	<i class="fa fa-search"></i>
        </button>
      </span>
    </section><!-- /input-group -->

	<section id="bookmarks" class="tool"
    ng-controller="BookmarkList">
		<header>
			<h6> <i class="fa fa-bookmark icon"></i> Bookmarks</h6>
			<a href="#" class="more">see all</a>
		</header>
		<div id="bookmark-list">
            <div class="bm-post-link"
            ng-repeat="job in bookmarks">
                <a href="">
                    <div class="bm-title">
                        {{job.headline | characters : 20}}
                    </div>
                    <div class="bm-author" >
                        by <span class="uppercase">{{job.agencyName}}</span>
                    </div>
                </a>
                <a href ng-click="delBookmark(job._id)">delete</a>
                <div class="bookmark-expand">
                    <div id="jobList" class="row">
                        <article class="job">
                            <header class="bookmark">
<<<<<<< HEAD
                                <a href="#">Remove to Bookmark <i class="fa fa-bookmark"></i> </a> 
=======
                                <a href="#">Add to Bookmark <i class="fa fa-bookmark"></i> </a>
>>>>>>> 9d159ce08ff48d707f29757a249a6461e71120b9
                            </header>
                            <section class="basic-info">
                                <header>
                                    <img src="content/images/photo_placeholder.jpg" alt="">
                                    <div class="title">
                                        <h5>job.headline </h5>
                                        <div class="author">
                                            by <a href="">job.agencyName</a> <i class="job.country flag"></i>
                                        </div>
                                    </div>
                                </header>

                                <ul class="list">
                                    <li class="item">
                                        <div class="property">Position:</div> <div class="value uppercase">job.position</div>
                                    </li>
                                    <li class="item">
                                        <div class="property">Vessel Type:</div> <div class="value uppercase">job.vesselType</div>
                                    </li>
                                    <li class="item">
                                        <div class="property">Proposed Salary:</div>
                                            <div class="value uppercase">
                                                <i class="job.proposedSalary.currency icon"></i>job.proposedSalary.min
                                                 -
                                                <i class="job.proposedSalary.currency icon"></i>job.proposedSalary.max
                                            </div>
                                    </li>
                                </ul>
                            </section>
                            <section class="misc">
                                <h6>Employment Benefits</h6>
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa-li fa fa-check"></i> Test
                                    </li>
                                </ul>
                            </section>
                            <footer class="readmore">
                                <a href="#">read more</a>
                            </footer>
                        </article> <!-- <article class="job"> -->
                    </div>
                </div>
            </div>
		</div> <!-- <div id="bookmark-list"> -->
		<!--<div class="empty">
			<div class="message">
				You currently don’t
				have any item(s) in your
				bookmark
			</div>
		</div>--><!-- <div class="empty"> -->
	</section> <!-- <div id="bookmarks" class="tool"> -->

	<section id="jobAlerts" class="tool">
		<header>
			<h6> <i class="fa fa-warning icon"></i> Job Alerts</h6>
			<a href="#" class="more">see all</a>
		</header>

		<div class="empty"></div>
	</section>
</div>



<main id="content" ui-view="main">



</main> <!-- <main id="content"> -->

<div class="filter-selection" ng-if="vm.filterSelectionIsOpen">

	<div class="filter-content" ng-include="vm.filterContent"></div>
</div>