<div class="row">
	<div class="col-sm-4" id="logo">
		
			<img src="content/images/logo.gif">		
			<h1>Seafarer Jobsite</h1>
	</div> <!--  <div class="col-sm-4" id="logo"> -->
	<div class="col-sm-4">
		<div id="searchOptions">
			<div class="description">Search For:</div>
			<div class="option">
				<div class="ui radio checkbox right checked">
			    <input type="radio">
			    <label>Job</label>
			  </div>				
			</div>
			<div class="option">
			  <div class="ui radio checkbox right">
			    <input type="radio">
			    <label>Candidates</label>
			  </div>				
			</div>
			<div class="option">
			  <div class="ui radio checkbox right">
			    <input type="radio">
			    <label>Agency</label>
			  </div>				
			</div>					
		</div>
		
		
	</div> <!-- <div class="col-sm-4" id="searchOptions"> -->
	<div class="col-sm-4">
		<div id="currentUser" class="dropdown" dropdown ng-show="vm.isLoggedIn()">
			
		      <a href class="dropdown-toggle" dropdown-toggle>
		        WELCOME, <span class="name uppercase">{{vm.userName()}}</span>	<i class="fa fa-caret-down"></i>
		      </a>
		      <ul class="dropdown-menu">
		        <li >
		          <a ng-href="{{vm.goToDashboard}}">Dashboard</a>
		        </li>
		        <li >
		          <a href ng-click="vm.logout()">Logout</a>
		        </li>		        
		      </ul>      			
		</div>
		<div id="btn-public-login" ng-hide="vm.isLoggedIn()">
		      <a href="#">
		        <i class="fa fa-user"></i>SIGN IN
		      </a>			
		</div>
	</div> <!-- <div class="col-sm-4"> -->
 </div>